root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
tab_width = 4

[**.js]
end_of_line = lf
tab_width = 4

[**.coffee]
tab_width = 4

[**.cson]
tab_width = 4

[**.json]
end_of_line = lf
tab_width = 4

[**rc]
tab_width = 4

[**php]
end_of_line = lf
tab_width = 4
