bower_components
node_modules
temp
test
tests
email
site/*.*

# Files
*.txt
*.zip
*.rar
*.doc
*.docx
*.xls
*.xlsx
*.csv

# sublime
*.sublime-workspace

# dotenv environment variable files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Evolution CMS
site/*.php
site/*.md
site/*.html
site/*.access
site/*.lock
site/*.txt


site/vendor
site/manager
site/content/*.*
site/assets/*.*
site/assets/.*
site/assets/.thumbs
site/assets/.thumb
site/assets/thumbs
site/assets/thumb
site/assets/backup
site/assets/cache
site/assets/docs
site/assets/export
site/assets/files
site/assets/images
site/assets/import
site/assets/js
site/assets/lib
site/assets/media
site/assets/packages
site/assets/site
site/assets/thumbs
site/assets/vendor
site/assets/templates/index.html
**/tes*.html
**/tes*.pug

site/assets/modules/*
site/assets/plugins/*
site/assets/snippets/*
site/assets/tvs/*

!site/.htaccess
!site/*.png
!site/*.svg
!site/*.ico
!site/*.xml
!site/*.webmanifest
!site/*.json
!site/robots.txt
!site/cron.php
!site/import.php
!site/format.php
!site/*test.php
!site/content/.htaccess

site/email.json
site/output-data.json

# Templates
!site/assets/templates/projectsot
!site/assets/templates/projectsot/*

# Plugin TinyMCE4
!site/assets/plugins/tinymce4
site/assets/plugins/tinymce4/*
!site/assets/plugins/tinymce4/theme
site/assets/plugins/tinymce4/theme/*
!site/assets/plugins/tinymce4/theme/theme.tinymce4.site.inc.php
!site/assets/plugins/tinymce4/tinymce
site/assets/plugins/tinymce4/tinymce/*
!site/assets/plugins/tinymce4/tinymce/plugins
site/assets/plugins/tinymce4/tinymce/plugins/*
!site/assets/plugins/tinymce4/tinymce/plugins/emotic
!site/assets/plugins/tinymce4/tinymce/skins
site/assets/plugins/tinymce4/tinymce/skins/*
!site/assets/plugins/tinymce4/tinymce/skins/school

# Plugin DocSave
!site/assets/plugins/DocSave
!site/assets/plugins/DocSave/*.*

# Plugin DocSave
!site/assets/plugins/PageAuth
!site/assets/plugins/PageAuth/*.*

# Plugin help_widget
!site/assets/plugins/dashboard_widgets
!site/assets/plugins/dashboard_widgets/help_widget
!site/assets/plugins/dashboard_widgets/help_widget/*.*

# Module clientSettings
!site/assets/modules/MailSend
!site/assets/modules/MailSend/*
!site/assets/modules/MailSend/*.*
!site/assets/modules/MailSend/**/*.*

# Module clientSettings
!site/assets/modules/clientsettings
site/assets/modules/clientsettings/*
!site/assets/modules/clientsettings/config
site/assets/modules/clientsettings/config/*
!site/assets/modules/clientsettings/config/*.php

# TV multiTV configs
!site/assets/tvs/multitv
site/assets/tvs/multitv/*
!site/assets/tvs/multitv/configs
site/assets/tvs/multitv/configs/*
!site/assets/tvs/multitv/configs/files.config.inc.php
!site/assets/tvs/multitv/configs/dispatch_checkers.config.inc.php

# TV groups
!site/assets/tvs/groups
!site/assets/tvs/groups/*
!site/assets/tvs/groups/*.*
!site/assets/tvs/groups/**/*.*

# TV evodate
!site/assets/tvs/evodate
!site/assets/tvs/evodate/*.*
!site/assets/tvs/evodate/**/*.*
