h2.text-center
	|Smileys & People
// Smileys & People
ul.emoji.emoji-smileys-people
	li.emoji--item
		span.emoji--item--icon
			|😀
	li.emoji--item
		span.emoji--item--icon
			|😃
	li.emoji--item
		span.emoji--item--icon
			|😄
	li.emoji--item
		span.emoji--item--icon
			|😁
	li.emoji--item
		span.emoji--item--icon
			|😆
	li.emoji--item
		span.emoji--item--icon
			|😅
	li.emoji--item
		span.emoji--item--icon
			|😂
	li.emoji--item
		span.emoji--item--icon
			|🤣
	li.emoji--item
		span.emoji--item--icon
			|😊
	li.emoji--item
		span.emoji--item--icon
			|😇
	li.emoji--item
		span.emoji--item--icon
			|🙂
	li.emoji--item
		span.emoji--item--icon
			|🙃
	li.emoji--item
		span.emoji--item--icon
			|😉
	li.emoji--item
		span.emoji--item--icon
			|😌
	li.emoji--item
		span.emoji--item--icon
			|😍
	li.emoji--item
		span.emoji--item--icon
			|🥰
	li.emoji--item
		span.emoji--item--icon
			|😘
	li.emoji--item
		span.emoji--item--icon
			|😗
	li.emoji--item
		span.emoji--item--icon
			|😙
	li.emoji--item
		span.emoji--item--icon
			|😚
	li.emoji--item
		span.emoji--item--icon
			|😋
	li.emoji--item
		span.emoji--item--icon
			|😛
	li.emoji--item
		span.emoji--item--icon
			|😝
	li.emoji--item
		span.emoji--item--icon
			|😜
	li.emoji--item
		span.emoji--item--icon
			|🤪
	li.emoji--item
		span.emoji--item--icon
			|🤨
	li.emoji--item
		span.emoji--item--icon
			|🧐
	li.emoji--item
		span.emoji--item--icon
			|🤓
	li.emoji--item
		span.emoji--item--icon
			|😎
	li.emoji--item
		span.emoji--item--icon
			|🤩
	li.emoji--item
		span.emoji--item--icon
			|🥳
	li.emoji--item
		span.emoji--item--icon
			|😏
	li.emoji--item
		span.emoji--item--icon
			|😒
	li.emoji--item
		span.emoji--item--icon
			|😞
	li.emoji--item
		span.emoji--item--icon
			|😔
	li.emoji--item
		span.emoji--item--icon
			|😟
	li.emoji--item
		span.emoji--item--icon
			|😕
	li.emoji--item
		span.emoji--item--icon
			|🙁
	li.emoji--item
		span.emoji--item--icon
			|☹️
	li.emoji--item
		span.emoji--item--icon
			|😣
	li.emoji--item
		span.emoji--item--icon
			|😖
	li.emoji--item
		span.emoji--item--icon
			|😫
	li.emoji--item
		span.emoji--item--icon
			|😩
	li.emoji--item
		span.emoji--item--icon
			|🥺
	li.emoji--item
		span.emoji--item--icon
			|😢
	li.emoji--item
		span.emoji--item--icon
			|😭
	li.emoji--item
		span.emoji--item--icon
			|😤
	li.emoji--item
		span.emoji--item--icon
			|😠
	li.emoji--item
		span.emoji--item--icon
			|😡
	li.emoji--item
		span.emoji--item--icon
			|🤬
	li.emoji--item
		span.emoji--item--icon
			|🤯
	li.emoji--item
		span.emoji--item--icon
			|😳
	li.emoji--item
		span.emoji--item--icon
			|🥵
	li.emoji--item
		span.emoji--item--icon
			|🥶
	li.emoji--item
		span.emoji--item--icon
			|😱
	li.emoji--item
		span.emoji--item--icon
			|😨
	li.emoji--item
		span.emoji--item--icon
			|😰
	li.emoji--item
		span.emoji--item--icon
			|😥
	li.emoji--item
		span.emoji--item--icon
			|😓
	li.emoji--item
		span.emoji--item--icon
			|🤗
	li.emoji--item
		span.emoji--item--icon
			|🤔
	li.emoji--item
		span.emoji--item--icon
			|🤭
	li.emoji--item
		span.emoji--item--icon
			|🤫
	li.emoji--item
		span.emoji--item--icon
			|🤥
	li.emoji--item
		span.emoji--item--icon
			|😶
	li.emoji--item
		span.emoji--item--icon
			|😐
	li.emoji--item
		span.emoji--item--icon
			|😑
	li.emoji--item
		span.emoji--item--icon
			|😬
	li.emoji--item
		span.emoji--item--icon
			|🙄
	li.emoji--item
		span.emoji--item--icon
			|😯
	li.emoji--item
		span.emoji--item--icon
			|😦
	li.emoji--item
		span.emoji--item--icon
			|😧
	li.emoji--item
		span.emoji--item--icon
			|😮
	li.emoji--item
		span.emoji--item--icon
			|😲
	li.emoji--item
		span.emoji--item--icon
			|🥱
	li.emoji--item
		span.emoji--item--icon
			|😴
	li.emoji--item
		span.emoji--item--icon
			|🤤
	li.emoji--item
		span.emoji--item--icon
			|😪
	li.emoji--item
		span.emoji--item--icon
			|😵
	li.emoji--item
		span.emoji--item--icon
			|🤐
	li.emoji--item
		span.emoji--item--icon
			|🥴
	li.emoji--item
		span.emoji--item--icon
			|🤢
	li.emoji--item
		span.emoji--item--icon
			|🤮
	li.emoji--item
		span.emoji--item--icon
			|🤧
	li.emoji--item
		span.emoji--item--icon
			|😷
	li.emoji--item
		span.emoji--item--icon
			|🤒
	li.emoji--item
		span.emoji--item--icon
			|🤕
	li.emoji--item
		span.emoji--item--icon
			|🤑
	li.emoji--item
		span.emoji--item--icon
			|🤠
	li.emoji--item
		span.emoji--item--icon
			|😈
	li.emoji--item
		span.emoji--item--icon
			|👿
	li.emoji--item
		span.emoji--item--icon
			|👹
	li.emoji--item
		span.emoji--item--icon
			|👺
	li.emoji--item
		span.emoji--item--icon
			|🤡
	li.emoji--item
		span.emoji--item--icon
			|💩
	li.emoji--item
		span.emoji--item--icon
			|👻
	li.emoji--item
		span.emoji--item--icon
			|💀
	li.emoji--item
		span.emoji--item--icon
			|☠️
	li.emoji--item
		span.emoji--item--icon
			|👽
	li.emoji--item
		span.emoji--item--icon
			|👾
	li.emoji--item
		span.emoji--item--icon
			|🤖
	li.emoji--item
		span.emoji--item--icon
			|🎃
	li.emoji--item
		span.emoji--item--icon
			|😺
	li.emoji--item
		span.emoji--item--icon
			|😸
	li.emoji--item
		span.emoji--item--icon
			|😹
	li.emoji--item
		span.emoji--item--icon
			|😻
	li.emoji--item
		span.emoji--item--icon
			|😼
	li.emoji--item
		span.emoji--item--icon
			|😽
	li.emoji--item
		span.emoji--item--icon
			|🙀
	li.emoji--item
		span.emoji--item--icon
			|😿
	li.emoji--item
		span.emoji--item--icon
			|😾
	li.emoji--item
		span.emoji--item--icon
			|🤲
	li.emoji--item
		span.emoji--item--icon
			|👐
	li.emoji--item
		span.emoji--item--icon
			|🙌
	li.emoji--item
		span.emoji--item--icon
			|👏
	li.emoji--item
		span.emoji--item--icon
			|🤝
	li.emoji--item
		span.emoji--item--icon
			|👍
	li.emoji--item
		span.emoji--item--icon
			|👎
	li.emoji--item
		span.emoji--item--icon
			|👊
	li.emoji--item
		span.emoji--item--icon
			|✊
	li.emoji--item
		span.emoji--item--icon
			|🤛
	li.emoji--item
		span.emoji--item--icon
			|🤜
	li.emoji--item
		span.emoji--item--icon
			|🤞
	li.emoji--item
		span.emoji--item--icon
			|✌️
	li.emoji--item
		span.emoji--item--icon
			|🤟
	li.emoji--item
		span.emoji--item--icon
			|🤘
	li.emoji--item
		span.emoji--item--icon
			|👌
	li.emoji--item
		span.emoji--item--icon
			|🤏
	li.emoji--item
		span.emoji--item--icon
			|👈
	li.emoji--item
		span.emoji--item--icon
			|👉
	li.emoji--item
		span.emoji--item--icon
			|👆
	li.emoji--item
		span.emoji--item--icon
			|👇
	li.emoji--item
		span.emoji--item--icon
			|☝️
	li.emoji--item
		span.emoji--item--icon
			|✋
	li.emoji--item
		span.emoji--item--icon
			|🤚
	li.emoji--item
		span.emoji--item--icon
			|🖐️
	li.emoji--item
		span.emoji--item--icon
			|🖖
	li.emoji--item
		span.emoji--item--icon
			|👋
	li.emoji--item
		span.emoji--item--icon
			|🤙
	li.emoji--item
		span.emoji--item--icon
			|💪
	li.emoji--item
		span.emoji--item--icon
			|🦾
	li.emoji--item
		span.emoji--item--icon
			|🖕
	li.emoji--item
		span.emoji--item--icon
			|✍️
	li.emoji--item
		span.emoji--item--icon
			|🙏
	li.emoji--item
		span.emoji--item--icon
			|🦶
	li.emoji--item
		span.emoji--item--icon
			|🦵
	li.emoji--item
		span.emoji--item--icon
			|🦿
	li.emoji--item
		span.emoji--item--icon
			|💄
	li.emoji--item
		span.emoji--item--icon
			|💋
	li.emoji--item
		span.emoji--item--icon
			|👄
	li.emoji--item
		span.emoji--item--icon
			|🦷
	li.emoji--item
		span.emoji--item--icon
			|👅
	li.emoji--item
		span.emoji--item--icon
			|👂
	li.emoji--item
		span.emoji--item--icon
			|🦻
	li.emoji--item
		span.emoji--item--icon
			|👃
	li.emoji--item
		span.emoji--item--icon
			|👣
	li.emoji--item
		span.emoji--item--icon
			|👁️
	li.emoji--item
		span.emoji--item--icon
			|👀
	li.emoji--item
		span.emoji--item--icon
			|🧠
	li.emoji--item
		span.emoji--item--icon
			|🗣️
	li.emoji--item
		span.emoji--item--icon
			|👤
	li.emoji--item
		span.emoji--item--icon
			|👥
	li.emoji--item
		span.emoji--item--icon
			|👶
	li.emoji--item
		span.emoji--item--icon
			|🧒
	li.emoji--item
		span.emoji--item--icon
			|👧
	li.emoji--item
		span.emoji--item--icon
			|👦
	li.emoji--item
		span.emoji--item--icon
			|🧑
	li.emoji--item
		span.emoji--item--icon
			|👩
	li.emoji--item
		span.emoji--item--icon
			|👨
	li.emoji--item
		span.emoji--item--icon
			|👱
	li.emoji--item
		span.emoji--item--icon
			|🧔
	li.emoji--item
		span.emoji--item--icon
			|🧓
	li.emoji--item
		span.emoji--item--icon
			|👵
	li.emoji--item
		span.emoji--item--icon
			|👴
	li.emoji--item
		span.emoji--item--icon
			|👲
	li.emoji--item
		span.emoji--item--icon
			|👳
	li.emoji--item
		span.emoji--item--icon
			|🧕
	li.emoji--item
		span.emoji--item--icon
			|👮
	li.emoji--item
		span.emoji--item--icon
			|👷
	li.emoji--item
		span.emoji--item--icon
			|💂
	li.emoji--item
		span.emoji--item--icon
			|🕵️
	li.emoji--item
		span.emoji--item--icon
			|👰
	li.emoji--item
		span.emoji--item--icon
			|🤵
	li.emoji--item
		span.emoji--item--icon
			|👸
	li.emoji--item
		span.emoji--item--icon
			|🤴
	li.emoji--item
		span.emoji--item--icon
			|🦸
	li.emoji--item
		span.emoji--item--icon
			|🦹
	li.emoji--item
		span.emoji--item--icon
			|🤶
	li.emoji--item
		span.emoji--item--icon
			|🎅
	li.emoji--item
		span.emoji--item--icon
			|🧙
	li.emoji--item
		span.emoji--item--icon
			|🧝
	li.emoji--item
		span.emoji--item--icon
			|🧛
	li.emoji--item
		span.emoji--item--icon
			|🧟
	li.emoji--item
		span.emoji--item--icon
			|🧞
	li.emoji--item
		span.emoji--item--icon
			|🧜
	li.emoji--item
		span.emoji--item--icon
			|🧚
	li.emoji--item
		span.emoji--item--icon
			|👼
	li.emoji--item
		span.emoji--item--icon
			|🤰
	li.emoji--item
		span.emoji--item--icon
			|🤱
	li.emoji--item
		span.emoji--item--icon
			|🙇
	li.emoji--item
		span.emoji--item--icon
			|💁
	li.emoji--item
		span.emoji--item--icon
			|🙅
	li.emoji--item
		span.emoji--item--icon
			|🙆
	li.emoji--item
		span.emoji--item--icon
			|🙋
	li.emoji--item
		span.emoji--item--icon
			|🧏
	li.emoji--item
		span.emoji--item--icon
			|🤦
	li.emoji--item
		span.emoji--item--icon
			|🤷
	li.emoji--item
		span.emoji--item--icon
			|🙎
	li.emoji--item
		span.emoji--item--icon
			|🙍
	li.emoji--item
		span.emoji--item--icon
			|💇
	li.emoji--item
		span.emoji--item--icon
			|💆
	li.emoji--item
		span.emoji--item--icon
			|🧖
	li.emoji--item
		span.emoji--item--icon
			|💅
	li.emoji--item
		span.emoji--item--icon
			|🤳
	li.emoji--item
		span.emoji--item--icon
			|💃
	li.emoji--item
		span.emoji--item--icon
			|🕺
	li.emoji--item
		span.emoji--item--icon
			|👯
	li.emoji--item
		span.emoji--item--icon
			|🕴️
	li.emoji--item
		span.emoji--item--icon
			|🚶
	li.emoji--item
		span.emoji--item--icon
			|🧎
	li.emoji--item
		span.emoji--item--icon
			|🏃
	li.emoji--item
		span.emoji--item--icon
			|🧍
	li.emoji--item
		span.emoji--item--icon
			|👫
	li.emoji--item
		span.emoji--item--icon
			|👭
	li.emoji--item
		span.emoji--item--icon
			|👬
	li.emoji--item
		span.emoji--item--icon
			|💑
	li.emoji--item
		span.emoji--item--icon
			|💏
	li.emoji--item
		span.emoji--item--icon
			|👪
	li.emoji--item
		span.emoji--item--icon
			|🧶
	li.emoji--item
		span.emoji--item--icon
			|🧵
	li.emoji--item
		span.emoji--item--icon
			|🧥
	li.emoji--item
		span.emoji--item--icon
			|🥼
	li.emoji--item
		span.emoji--item--icon
			|🦺
	li.emoji--item
		span.emoji--item--icon
			|👚
	li.emoji--item
		span.emoji--item--icon
			|👕
	li.emoji--item
		span.emoji--item--icon
			|👖
	li.emoji--item
		span.emoji--item--icon
			|🩲
	li.emoji--item
		span.emoji--item--icon
			|🩳
	li.emoji--item
		span.emoji--item--icon
			|👔
	li.emoji--item
		span.emoji--item--icon
			|👗
	li.emoji--item
		span.emoji--item--icon
			|👙
	li.emoji--item
		span.emoji--item--icon
			|🩱
	li.emoji--item
		span.emoji--item--icon
			|👘
	li.emoji--item
		span.emoji--item--icon
			|🥻
	li.emoji--item
		span.emoji--item--icon
			|🥿
	li.emoji--item
		span.emoji--item--icon
			|👠
	li.emoji--item
		span.emoji--item--icon
			|👡
	li.emoji--item
		span.emoji--item--icon
			|👢
	li.emoji--item
		span.emoji--item--icon
			|👞
	li.emoji--item
		span.emoji--item--icon
			|👟
	li.emoji--item
		span.emoji--item--icon
			|🥾
	li.emoji--item
		span.emoji--item--icon
			|🧦
	li.emoji--item
		span.emoji--item--icon
			|🧤
	li.emoji--item
		span.emoji--item--icon
			|🧣
	li.emoji--item
		span.emoji--item--icon
			|🎩
	li.emoji--item
		span.emoji--item--icon
			|🧢
	li.emoji--item
		span.emoji--item--icon
			|👒
	li.emoji--item
		span.emoji--item--icon
			|🎓
	li.emoji--item
		span.emoji--item--icon
			|⛑️
	li.emoji--item
		span.emoji--item--icon
			|👑
	li.emoji--item
		span.emoji--item--icon
			|💍
	li.emoji--item
		span.emoji--item--icon
			|👝
	li.emoji--item
		span.emoji--item--icon
			|👛
	li.emoji--item
		span.emoji--item--icon
			|👜
	li.emoji--item
		span.emoji--item--icon
			|💼
	li.emoji--item
		span.emoji--item--icon
			|🎒
	li.emoji--item
		span.emoji--item--icon
			|🧳
	li.emoji--item
		span.emoji--item--icon
			|👓
	li.emoji--item
		span.emoji--item--icon
			|🕶️
	li.emoji--item
		span.emoji--item--icon
			|🥽
	li.emoji--item
		span.emoji--item--icon
			|🌂
