h2.text-center
	|Смайлики и народы
// Smileys & People
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|😀
	span.emoji--icon(data-copy="")
			|😃
	span.emoji--icon(data-copy="")
			|😄
	span.emoji--icon(data-copy="")
			|😁
	span.emoji--icon(data-copy="")
			|😆
	span.emoji--icon(data-copy="")
			|😅
	span.emoji--icon(data-copy="")
			|😂
	span.emoji--icon(data-copy="")
			|🤣
	span.emoji--icon(data-copy="")
			|😊
	span.emoji--icon(data-copy="")
			|😇
	span.emoji--icon(data-copy="")
			|🙂
	span.emoji--icon(data-copy="")
			|🙃
	span.emoji--icon(data-copy="")
			|😉
	span.emoji--icon(data-copy="")
			|😌
	span.emoji--icon(data-copy="")
			|😍
	span.emoji--icon(data-copy="")
			|🥰
	span.emoji--icon(data-copy="")
			|😘
	span.emoji--icon(data-copy="")
			|😗
	span.emoji--icon(data-copy="")
			|😙
	span.emoji--icon(data-copy="")
			|😚
	span.emoji--icon(data-copy="")
			|😋
	span.emoji--icon(data-copy="")
			|😛
	span.emoji--icon(data-copy="")
			|😝
	span.emoji--icon(data-copy="")
			|😜
	span.emoji--icon(data-copy="")
			|🤪
	span.emoji--icon(data-copy="")
			|🤨
	span.emoji--icon(data-copy="")
			|🧐
	span.emoji--icon(data-copy="")
			|🤓
	span.emoji--icon(data-copy="")
			|😎
	span.emoji--icon(data-copy="")
			|🤩
	span.emoji--icon(data-copy="")
			|🥳
	span.emoji--icon(data-copy="")
			|😏
	span.emoji--icon(data-copy="")
			|😒
	span.emoji--icon(data-copy="")
			|😞
	span.emoji--icon(data-copy="")
			|😔
	span.emoji--icon(data-copy="")
			|😟
	span.emoji--icon(data-copy="")
			|😕
	span.emoji--icon(data-copy="")
			|🙁
	span.emoji--icon(data-copy="")
			|☹️
	span.emoji--icon(data-copy="")
			|😣
	span.emoji--icon(data-copy="")
			|😖
	span.emoji--icon(data-copy="")
			|😫
	span.emoji--icon(data-copy="")
			|😩
	span.emoji--icon(data-copy="")
			|🥺
	span.emoji--icon(data-copy="")
			|😢
	span.emoji--icon(data-copy="")
			|😭
	span.emoji--icon(data-copy="")
			|😤
	span.emoji--icon(data-copy="")
			|😠
	span.emoji--icon(data-copy="")
			|😡
	span.emoji--icon(data-copy="")
			|🤬
	span.emoji--icon(data-copy="")
			|🤯
	span.emoji--icon(data-copy="")
			|😳
	span.emoji--icon(data-copy="")
			|🥵
	span.emoji--icon(data-copy="")
			|🥶
	span.emoji--icon(data-copy="")
			|😱
	span.emoji--icon(data-copy="")
			|😨
	span.emoji--icon(data-copy="")
			|😰
	span.emoji--icon(data-copy="")
			|😥
	span.emoji--icon(data-copy="")
			|😓
	span.emoji--icon(data-copy="")
			|🤗
	span.emoji--icon(data-copy="")
			|🤔
	span.emoji--icon(data-copy="")
			|🤭
	span.emoji--icon(data-copy="")
			|🤫
	span.emoji--icon(data-copy="")
			|🤥
	span.emoji--icon(data-copy="")
			|😶
	span.emoji--icon(data-copy="")
			|😐
	span.emoji--icon(data-copy="")
			|😑
	span.emoji--icon(data-copy="")
			|😬
	span.emoji--icon(data-copy="")
			|🙄
	span.emoji--icon(data-copy="")
			|😯
	span.emoji--icon(data-copy="")
			|😦
	span.emoji--icon(data-copy="")
			|😧
	span.emoji--icon(data-copy="")
			|😮
	span.emoji--icon(data-copy="")
			|😲
	span.emoji--icon(data-copy="")
			|🥱
	span.emoji--icon(data-copy="")
			|😴
	span.emoji--icon(data-copy="")
			|🤤
	span.emoji--icon(data-copy="")
			|😪
	span.emoji--icon(data-copy="")
			|😵
	span.emoji--icon(data-copy="")
			|🤐
	span.emoji--icon(data-copy="")
			|🥴
	span.emoji--icon(data-copy="")
			|🤢
	span.emoji--icon(data-copy="")
			|🤮
	span.emoji--icon(data-copy="")
			|🤧
	span.emoji--icon(data-copy="")
			|😷
	span.emoji--icon(data-copy="")
			|🤒
	span.emoji--icon(data-copy="")
			|🤕
	span.emoji--icon(data-copy="")
			|🤑
	span.emoji--icon(data-copy="")
			|🤠
	span.emoji--icon(data-copy="")
			|😈
	span.emoji--icon(data-copy="")
			|👿
	span.emoji--icon(data-copy="")
			|👹
	span.emoji--icon(data-copy="")
			|👺
	span.emoji--icon(data-copy="")
			|🤡
	span.emoji--icon(data-copy="")
			|💩
	span.emoji--icon(data-copy="")
			|👻
	span.emoji--icon(data-copy="")
			|💀
	span.emoji--icon(data-copy="")
			|☠️
	span.emoji--icon(data-copy="")
			|👽
	span.emoji--icon(data-copy="")
			|👾
	span.emoji--icon(data-copy="")
			|🤖
	span.emoji--icon(data-copy="")
			|🎃
	span.emoji--icon(data-copy="")
			|😺
	span.emoji--icon(data-copy="")
			|😸
	span.emoji--icon(data-copy="")
			|😹
	span.emoji--icon(data-copy="")
			|😻
	span.emoji--icon(data-copy="")
			|😼
	span.emoji--icon(data-copy="")
			|😽
	span.emoji--icon(data-copy="")
			|🙀
	span.emoji--icon(data-copy="")
			|😿
	span.emoji--icon(data-copy="")
			|😾
	span.emoji--icon(data-copy="")
			|🤲
	span.emoji--icon(data-copy="")
			|👐
	span.emoji--icon(data-copy="")
			|🙌
	span.emoji--icon(data-copy="")
			|👏
	span.emoji--icon(data-copy="")
			|🤝
	span.emoji--icon(data-copy="")
			|👍
	span.emoji--icon(data-copy="")
			|👎
	span.emoji--icon(data-copy="")
			|👊
	span.emoji--icon(data-copy="")
			|✊
	span.emoji--icon(data-copy="")
			|🤛
	span.emoji--icon(data-copy="")
			|🤜
	span.emoji--icon(data-copy="")
			|🤞
	span.emoji--icon(data-copy="")
			|✌️
	span.emoji--icon(data-copy="")
			|🤟
	span.emoji--icon(data-copy="")
			|🤘
	span.emoji--icon(data-copy="")
			|👌
	span.emoji--icon(data-copy="")
			|🤏
	span.emoji--icon(data-copy="")
			|👈
	span.emoji--icon(data-copy="")
			|👉
	span.emoji--icon(data-copy="")
			|👆
	span.emoji--icon(data-copy="")
			|👇
	span.emoji--icon(data-copy="")
			|☝️
	span.emoji--icon(data-copy="")
			|✋
	span.emoji--icon(data-copy="")
			|🤚
	span.emoji--icon(data-copy="")
			|🖐️
	span.emoji--icon(data-copy="")
			|🖖
	span.emoji--icon(data-copy="")
			|👋
	span.emoji--icon(data-copy="")
			|🤙
	span.emoji--icon(data-copy="")
			|💪
	span.emoji--icon(data-copy="")
			|🦾
	span.emoji--icon(data-copy="")
			|🖕
	span.emoji--icon(data-copy="")
			|✍️
	span.emoji--icon(data-copy="")
			|🙏
	span.emoji--icon(data-copy="")
			|🦶
	span.emoji--icon(data-copy="")
			|🦵
	span.emoji--icon(data-copy="")
			|🦿
	span.emoji--icon(data-copy="")
			|💄
	span.emoji--icon(data-copy="")
			|💋
	span.emoji--icon(data-copy="")
			|👄
	span.emoji--icon(data-copy="")
			|🦷
	span.emoji--icon(data-copy="")
			|👅
	span.emoji--icon(data-copy="")
			|👂
	span.emoji--icon(data-copy="")
			|🦻
	span.emoji--icon(data-copy="")
			|👃
	span.emoji--icon(data-copy="")
			|👣
	span.emoji--icon(data-copy="")
			|👁️
	span.emoji--icon(data-copy="")
			|👀
	span.emoji--icon(data-copy="")
			|🧠
	span.emoji--icon(data-copy="")
			|🗣️
	span.emoji--icon(data-copy="")
			|👤
	span.emoji--icon(data-copy="")
			|👥
	span.emoji--icon(data-copy="")
			|👶
	span.emoji--icon(data-copy="")
			|🧒
	span.emoji--icon(data-copy="")
			|👧
	span.emoji--icon(data-copy="")
			|👦
	span.emoji--icon(data-copy="")
			|🧑
	span.emoji--icon(data-copy="")
			|👩
	span.emoji--icon(data-copy="")
			|👨
	span.emoji--icon(data-copy="")
			|👱
	span.emoji--icon(data-copy="")
			|🧔
	span.emoji--icon(data-copy="")
			|🧓
	span.emoji--icon(data-copy="")
			|👵
	span.emoji--icon(data-copy="")
			|👴
	span.emoji--icon(data-copy="")
			|👲
	span.emoji--icon(data-copy="")
			|👳
	span.emoji--icon(data-copy="")
			|🧕
	span.emoji--icon(data-copy="")
			|👮
	span.emoji--icon(data-copy="")
			|👷
	span.emoji--icon(data-copy="")
			|💂
	span.emoji--icon(data-copy="")
			|🕵️
	span.emoji--icon(data-copy="")
			|👰
	span.emoji--icon(data-copy="")
			|🤵
	span.emoji--icon(data-copy="")
			|👸
	span.emoji--icon(data-copy="")
			|🤴
	span.emoji--icon(data-copy="")
			|🦸
	span.emoji--icon(data-copy="")
			|🦹
	span.emoji--icon(data-copy="")
			|🤶
	span.emoji--icon(data-copy="")
			|🎅
	span.emoji--icon(data-copy="")
			|🧙
	span.emoji--icon(data-copy="")
			|🧝
	span.emoji--icon(data-copy="")
			|🧛
	span.emoji--icon(data-copy="")
			|🧟
	span.emoji--icon(data-copy="")
			|🧞
	span.emoji--icon(data-copy="")
			|🧜
	span.emoji--icon(data-copy="")
			|🧚
	span.emoji--icon(data-copy="")
			|👼
	span.emoji--icon(data-copy="")
			|🤰
	span.emoji--icon(data-copy="")
			|🤱
	span.emoji--icon(data-copy="")
			|🙇
	span.emoji--icon(data-copy="")
			|💁
	span.emoji--icon(data-copy="")
			|🙅
	span.emoji--icon(data-copy="")
			|🙆
	span.emoji--icon(data-copy="")
			|🙋
	span.emoji--icon(data-copy="")
			|🧏
	span.emoji--icon(data-copy="")
			|🤦
	span.emoji--icon(data-copy="")
			|🤷
	span.emoji--icon(data-copy="")
			|🙎
	span.emoji--icon(data-copy="")
			|🙍
	span.emoji--icon(data-copy="")
			|💇
	span.emoji--icon(data-copy="")
			|💆
	span.emoji--icon(data-copy="")
			|🧖
	span.emoji--icon(data-copy="")
			|💅
	span.emoji--icon(data-copy="")
			|🤳
	span.emoji--icon(data-copy="")
			|💃
	span.emoji--icon(data-copy="")
			|🕺
	span.emoji--icon(data-copy="")
			|👯
	span.emoji--icon(data-copy="")
			|🕴️
	span.emoji--icon(data-copy="")
			|🚶
	span.emoji--icon(data-copy="")
			|🧎
	span.emoji--icon(data-copy="")
			|🏃
	span.emoji--icon(data-copy="")
			|🧍
	span.emoji--icon(data-copy="")
			|👫
	span.emoji--icon(data-copy="")
			|👭
	span.emoji--icon(data-copy="")
			|👬
	span.emoji--icon(data-copy="")
			|💑
	span.emoji--icon(data-copy="")
			|💏
	span.emoji--icon(data-copy="")
			|👪
	span.emoji--icon(data-copy="")
			|🧶
	span.emoji--icon(data-copy="")
			|🧵
	span.emoji--icon(data-copy="")
			|🧥
	span.emoji--icon(data-copy="")
			|🥼
	span.emoji--icon(data-copy="")
			|🦺
	span.emoji--icon(data-copy="")
			|👚
	span.emoji--icon(data-copy="")
			|👕
	span.emoji--icon(data-copy="")
			|👖
	span.emoji--icon(data-copy="")
			|🩲
	span.emoji--icon(data-copy="")
			|🩳
	span.emoji--icon(data-copy="")
			|👔
	span.emoji--icon(data-copy="")
			|👗
	span.emoji--icon(data-copy="")
			|👙
	span.emoji--icon(data-copy="")
			|🩱
	span.emoji--icon(data-copy="")
			|👘
	span.emoji--icon(data-copy="")
			|🥻
	span.emoji--icon(data-copy="")
			|🥿
	span.emoji--icon(data-copy="")
			|👠
	span.emoji--icon(data-copy="")
			|👡
	span.emoji--icon(data-copy="")
			|👢
	span.emoji--icon(data-copy="")
			|👞
	span.emoji--icon(data-copy="")
			|👟
	span.emoji--icon(data-copy="")
			|🥾
	span.emoji--icon(data-copy="")
			|🧦
	span.emoji--icon(data-copy="")
			|🧤
	span.emoji--icon(data-copy="")
			|🧣
	span.emoji--icon(data-copy="")
			|🎩
	span.emoji--icon(data-copy="")
			|🧢
	span.emoji--icon(data-copy="")
			|👒
	span.emoji--icon(data-copy="")
			|🎓
	span.emoji--icon(data-copy="")
			|⛑️
	span.emoji--icon(data-copy="")
			|👑
	span.emoji--icon(data-copy="")
			|💍
	span.emoji--icon(data-copy="")
			|👝
	span.emoji--icon(data-copy="")
			|👛
	span.emoji--icon(data-copy="")
			|👜
	span.emoji--icon(data-copy="")
			|💼
	span.emoji--icon(data-copy="")
			|🎒
	span.emoji--icon(data-copy="")
			|🧳
	span.emoji--icon(data-copy="")
			|👓
	span.emoji--icon(data-copy="")
			|🕶️
	span.emoji--icon(data-copy="")
			|🥽
	span.emoji--icon(data-copy="")
			|🌂
