h2.text-center
	|Animals & Nature
// Animals & Nature
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|🐶
	span.emoji--icon(data-copy="")
			|🐱
	span.emoji--icon(data-copy="")
			|🐭
	span.emoji--icon(data-copy="")
			|🐹
	span.emoji--icon(data-copy="")
			|🐰
	span.emoji--icon(data-copy="")
			|🦊
	span.emoji--icon(data-copy="")
			|🐻
	span.emoji--icon(data-copy="")
			|🐼
	span.emoji--icon(data-copy="")
			|🐨
	span.emoji--icon(data-copy="")
			|🐯
	span.emoji--icon(data-copy="")
			|🦁
	span.emoji--icon(data-copy="")
			|🐮
	span.emoji--icon(data-copy="")
			|🐷
	span.emoji--icon(data-copy="")
			|🐽
	span.emoji--icon(data-copy="")
			|🐸
	span.emoji--icon(data-copy="")
			|🐵
	span.emoji--icon(data-copy="")
			|🙈
	span.emoji--icon(data-copy="")
			|🙉
	span.emoji--icon(data-copy="")
			|🙊
	span.emoji--icon(data-copy="")
			|🐒
	span.emoji--icon(data-copy="")
			|🐔
	span.emoji--icon(data-copy="")
			|🐧
	span.emoji--icon(data-copy="")
			|🐦
	span.emoji--icon(data-copy="")
			|🐤
	span.emoji--icon(data-copy="")
			|🐣
	span.emoji--icon(data-copy="")
			|🐥
	span.emoji--icon(data-copy="")
			|🦆
	span.emoji--icon(data-copy="")
			|🦅
	span.emoji--icon(data-copy="")
			|🦉
	span.emoji--icon(data-copy="")
			|🦇
	span.emoji--icon(data-copy="")
			|🐺
	span.emoji--icon(data-copy="")
			|🐗
	span.emoji--icon(data-copy="")
			|🐴
	span.emoji--icon(data-copy="")
			|🦄
	span.emoji--icon(data-copy="")
			|🐝
	span.emoji--icon(data-copy="")
			|🐛
	span.emoji--icon(data-copy="")
			|🦋
	span.emoji--icon(data-copy="")
			|🐌
	span.emoji--icon(data-copy="")
			|🐞
	span.emoji--icon(data-copy="")
			|🐜
	span.emoji--icon(data-copy="")
			|🦟
	span.emoji--icon(data-copy="")
			|🦗
	span.emoji--icon(data-copy="")
			|🕷️
	span.emoji--icon(data-copy="")
			|🕸️
	span.emoji--icon(data-copy="")
			|🦂
	span.emoji--icon(data-copy="")
			|🐢
	span.emoji--icon(data-copy="")
			|🐍
	span.emoji--icon(data-copy="")
			|🦎
	span.emoji--icon(data-copy="")
			|🦖
	span.emoji--icon(data-copy="")
			|🦕
	span.emoji--icon(data-copy="")
			|🐙
	span.emoji--icon(data-copy="")
			|🦑
	span.emoji--icon(data-copy="")
			|🦐
	span.emoji--icon(data-copy="")
			|🦞
	span.emoji--icon(data-copy="")
			|🦀
	span.emoji--icon(data-copy="")
			|🐡
	span.emoji--icon(data-copy="")
			|🐠
	span.emoji--icon(data-copy="")
			|🐟
	span.emoji--icon(data-copy="")
			|🐬
	span.emoji--icon(data-copy="")
			|🐳
	span.emoji--icon(data-copy="")
			|🐋
	span.emoji--icon(data-copy="")
			|🦈
	span.emoji--icon(data-copy="")
			|🐊
	span.emoji--icon(data-copy="")
			|🐅
	span.emoji--icon(data-copy="")
			|🐆
	span.emoji--icon(data-copy="")
			|🦓
	span.emoji--icon(data-copy="")
			|🦍
	span.emoji--icon(data-copy="")
			|🦧
	span.emoji--icon(data-copy="")
			|🐘
	span.emoji--icon(data-copy="")
			|🦛
	span.emoji--icon(data-copy="")
			|🦏
	span.emoji--icon(data-copy="")
			|🐪
	span.emoji--icon(data-copy="")
			|🐫
	span.emoji--icon(data-copy="")
			|🦒
	span.emoji--icon(data-copy="")
			|🦘
	span.emoji--icon(data-copy="")
			|🐃
	span.emoji--icon(data-copy="")
			|🐂
	span.emoji--icon(data-copy="")
			|🐄
	span.emoji--icon(data-copy="")
			|🐎
	span.emoji--icon(data-copy="")
			|🐖
	span.emoji--icon(data-copy="")
			|🐏
	span.emoji--icon(data-copy="")
			|🐑
	span.emoji--icon(data-copy="")
			|🦙
	span.emoji--icon(data-copy="")
			|🐐
	span.emoji--icon(data-copy="")
			|🦌
	span.emoji--icon(data-copy="")
			|🐕
	span.emoji--icon(data-copy="")
			|🐩
	span.emoji--icon(data-copy="")
			|🦮
	span.emoji--icon(data-copy="")
			|🐈
	span.emoji--icon(data-copy="")
			|🐓
	span.emoji--icon(data-copy="")
			|🦃
	span.emoji--icon(data-copy="")
			|🦚
	span.emoji--icon(data-copy="")
			|🦜
	span.emoji--icon(data-copy="")
			|🦢
	span.emoji--icon(data-copy="")
			|🦩
	span.emoji--icon(data-copy="")
			|🕊️
	span.emoji--icon(data-copy="")
			|🐇
	span.emoji--icon(data-copy="")
			|🦝
	span.emoji--icon(data-copy="")
			|🦨
	span.emoji--icon(data-copy="")
			|🦡
	span.emoji--icon(data-copy="")
			|🦦
	span.emoji--icon(data-copy="")
			|🦥
	span.emoji--icon(data-copy="")
			|🐁
	span.emoji--icon(data-copy="")
			|🐀
	span.emoji--icon(data-copy="")
			|🐿️
	span.emoji--icon(data-copy="")
			|🦔
	span.emoji--icon(data-copy="")
			|🐾
	span.emoji--icon(data-copy="")
			|🐉
	span.emoji--icon(data-copy="")
			|🐲
	span.emoji--icon(data-copy="")
			|🌵
	span.emoji--icon(data-copy="")
			|🎄
	span.emoji--icon(data-copy="")
			|🌲
	span.emoji--icon(data-copy="")
			|🌳
	span.emoji--icon(data-copy="")
			|🌴
	span.emoji--icon(data-copy="")
			|🌱
	span.emoji--icon(data-copy="")
			|🌿
	span.emoji--icon(data-copy="")
			|☘️
	span.emoji--icon(data-copy="")
			|🍀
	span.emoji--icon(data-copy="")
			|🎍
	span.emoji--icon(data-copy="")
			|🎋
	span.emoji--icon(data-copy="")
			|🍃
	span.emoji--icon(data-copy="")
			|🍂
	span.emoji--icon(data-copy="")
			|🍁
	span.emoji--icon(data-copy="")
			|🍄
	span.emoji--icon(data-copy="")
			|🐚
	span.emoji--icon(data-copy="")
			|🌾
	span.emoji--icon(data-copy="")
			|💐
	span.emoji--icon(data-copy="")
			|🌷
	span.emoji--icon(data-copy="")
			|🌹
	span.emoji--icon(data-copy="")
			|🥀
	span.emoji--icon(data-copy="")
			|🌺
	span.emoji--icon(data-copy="")
			|🌸
	span.emoji--icon(data-copy="")
			|🌼
	span.emoji--icon(data-copy="")
			|🌻
	span.emoji--icon(data-copy="")
			|🌞
	span.emoji--icon(data-copy="")
			|🌝
	span.emoji--icon(data-copy="")
			|🌛
	span.emoji--icon(data-copy="")
			|🌜
	span.emoji--icon(data-copy="")
			|🌚
	span.emoji--icon(data-copy="")
			|🌕
	span.emoji--icon(data-copy="")
			|🌖
	span.emoji--icon(data-copy="")
			|🌗
	span.emoji--icon(data-copy="")
			|🌘
	span.emoji--icon(data-copy="")
			|🌑
	span.emoji--icon(data-copy="")
			|🌒
	span.emoji--icon(data-copy="")
			|🌓
	span.emoji--icon(data-copy="")
			|🌔
	span.emoji--icon(data-copy="")
			|🌙
	span.emoji--icon(data-copy="")
			|🌎
	span.emoji--icon(data-copy="")
			|🌍
	span.emoji--icon(data-copy="")
			|🌏
	span.emoji--icon(data-copy="")
			|🪐
	span.emoji--icon(data-copy="")
			|💫
	span.emoji--icon(data-copy="")
			|⭐
	span.emoji--icon(data-copy="")
			|🌟
	span.emoji--icon(data-copy="")
			|✨
	span.emoji--icon(data-copy="")
			|⚡
	span.emoji--icon(data-copy="")
			|☄️
	span.emoji--icon(data-copy="")
			|💥
	span.emoji--icon(data-copy="")
			|🔥
	span.emoji--icon(data-copy="")
			|🌪️
	span.emoji--icon(data-copy="")
			|🌈
	span.emoji--icon(data-copy="")
			|☀️
	span.emoji--icon(data-copy="")
			|🌤️
	span.emoji--icon(data-copy="")
			|⛅
	span.emoji--icon(data-copy="")
			|🌥️
	span.emoji--icon(data-copy="")
			|☁️
	span.emoji--icon(data-copy="")
			|🌦️
	span.emoji--icon(data-copy="")
			|🌧️
	span.emoji--icon(data-copy="")
			|⛈️
	span.emoji--icon(data-copy="")
			|🌩️
	span.emoji--icon(data-copy="")
			|🌨️
	span.emoji--icon(data-copy="")
			|❄️
	span.emoji--icon(data-copy="")
			|☃️
	span.emoji--icon(data-copy="")
			|⛄
	span.emoji--icon(data-copy="")
			|🌬️
	span.emoji--icon(data-copy="")
			|💨
	span.emoji--icon(data-copy="")
			|💧
	span.emoji--icon(data-copy="")
			|💦
	span.emoji--icon(data-copy="")
			|☔
	span.emoji--icon(data-copy="")
			|☂️
	span.emoji--icon(data-copy="")
			|🌊
	span.emoji--icon(data-copy="")
			|🌫️
