h2.text-center
	|Animals & Nature
// Animals & Nature
ul.emoji.emoji-animals-nature
	li.emoji--item
		span.emoji--item--icon
			|🐶
	li.emoji--item
		span.emoji--item--icon
			|🐱
	li.emoji--item
		span.emoji--item--icon
			|🐭
	li.emoji--item
		span.emoji--item--icon
			|🐹
	li.emoji--item
		span.emoji--item--icon
			|🐰
	li.emoji--item
		span.emoji--item--icon
			|🦊
	li.emoji--item
		span.emoji--item--icon
			|🐻
	li.emoji--item
		span.emoji--item--icon
			|🐼
	li.emoji--item
		span.emoji--item--icon
			|🐨
	li.emoji--item
		span.emoji--item--icon
			|🐯
	li.emoji--item
		span.emoji--item--icon
			|🦁
	li.emoji--item
		span.emoji--item--icon
			|🐮
	li.emoji--item
		span.emoji--item--icon
			|🐷
	li.emoji--item
		span.emoji--item--icon
			|🐽
	li.emoji--item
		span.emoji--item--icon
			|🐸
	li.emoji--item
		span.emoji--item--icon
			|🐵
	li.emoji--item
		span.emoji--item--icon
			|🙈
	li.emoji--item
		span.emoji--item--icon
			|🙉
	li.emoji--item
		span.emoji--item--icon
			|🙊
	li.emoji--item
		span.emoji--item--icon
			|🐒
	li.emoji--item
		span.emoji--item--icon
			|🐔
	li.emoji--item
		span.emoji--item--icon
			|🐧
	li.emoji--item
		span.emoji--item--icon
			|🐦
	li.emoji--item
		span.emoji--item--icon
			|🐤
	li.emoji--item
		span.emoji--item--icon
			|🐣
	li.emoji--item
		span.emoji--item--icon
			|🐥
	li.emoji--item
		span.emoji--item--icon
			|🦆
	li.emoji--item
		span.emoji--item--icon
			|🦅
	li.emoji--item
		span.emoji--item--icon
			|🦉
	li.emoji--item
		span.emoji--item--icon
			|🦇
	li.emoji--item
		span.emoji--item--icon
			|🐺
	li.emoji--item
		span.emoji--item--icon
			|🐗
	li.emoji--item
		span.emoji--item--icon
			|🐴
	li.emoji--item
		span.emoji--item--icon
			|🦄
	li.emoji--item
		span.emoji--item--icon
			|🐝
	li.emoji--item
		span.emoji--item--icon
			|🐛
	li.emoji--item
		span.emoji--item--icon
			|🦋
	li.emoji--item
		span.emoji--item--icon
			|🐌
	li.emoji--item
		span.emoji--item--icon
			|🐞
	li.emoji--item
		span.emoji--item--icon
			|🐜
	li.emoji--item
		span.emoji--item--icon
			|🦟
	li.emoji--item
		span.emoji--item--icon
			|🦗
	li.emoji--item
		span.emoji--item--icon
			|🕷️
	li.emoji--item
		span.emoji--item--icon
			|🕸️
	li.emoji--item
		span.emoji--item--icon
			|🦂
	li.emoji--item
		span.emoji--item--icon
			|🐢
	li.emoji--item
		span.emoji--item--icon
			|🐍
	li.emoji--item
		span.emoji--item--icon
			|🦎
	li.emoji--item
		span.emoji--item--icon
			|🦖
	li.emoji--item
		span.emoji--item--icon
			|🦕
	li.emoji--item
		span.emoji--item--icon
			|🐙
	li.emoji--item
		span.emoji--item--icon
			|🦑
	li.emoji--item
		span.emoji--item--icon
			|🦐
	li.emoji--item
		span.emoji--item--icon
			|🦞
	li.emoji--item
		span.emoji--item--icon
			|🦀
	li.emoji--item
		span.emoji--item--icon
			|🐡
	li.emoji--item
		span.emoji--item--icon
			|🐠
	li.emoji--item
		span.emoji--item--icon
			|🐟
	li.emoji--item
		span.emoji--item--icon
			|🐬
	li.emoji--item
		span.emoji--item--icon
			|🐳
	li.emoji--item
		span.emoji--item--icon
			|🐋
	li.emoji--item
		span.emoji--item--icon
			|🦈
	li.emoji--item
		span.emoji--item--icon
			|🐊
	li.emoji--item
		span.emoji--item--icon
			|🐅
	li.emoji--item
		span.emoji--item--icon
			|🐆
	li.emoji--item
		span.emoji--item--icon
			|🦓
	li.emoji--item
		span.emoji--item--icon
			|🦍
	li.emoji--item
		span.emoji--item--icon
			|🦧
	li.emoji--item
		span.emoji--item--icon
			|🐘
	li.emoji--item
		span.emoji--item--icon
			|🦛
	li.emoji--item
		span.emoji--item--icon
			|🦏
	li.emoji--item
		span.emoji--item--icon
			|🐪
	li.emoji--item
		span.emoji--item--icon
			|🐫
	li.emoji--item
		span.emoji--item--icon
			|🦒
	li.emoji--item
		span.emoji--item--icon
			|🦘
	li.emoji--item
		span.emoji--item--icon
			|🐃
	li.emoji--item
		span.emoji--item--icon
			|🐂
	li.emoji--item
		span.emoji--item--icon
			|🐄
	li.emoji--item
		span.emoji--item--icon
			|🐎
	li.emoji--item
		span.emoji--item--icon
			|🐖
	li.emoji--item
		span.emoji--item--icon
			|🐏
	li.emoji--item
		span.emoji--item--icon
			|🐑
	li.emoji--item
		span.emoji--item--icon
			|🦙
	li.emoji--item
		span.emoji--item--icon
			|🐐
	li.emoji--item
		span.emoji--item--icon
			|🦌
	li.emoji--item
		span.emoji--item--icon
			|🐕
	li.emoji--item
		span.emoji--item--icon
			|🐩
	li.emoji--item
		span.emoji--item--icon
			|🦮
	li.emoji--item
		span.emoji--item--icon
			|🐈
	li.emoji--item
		span.emoji--item--icon
			|🐓
	li.emoji--item
		span.emoji--item--icon
			|🦃
	li.emoji--item
		span.emoji--item--icon
			|🦚
	li.emoji--item
		span.emoji--item--icon
			|🦜
	li.emoji--item
		span.emoji--item--icon
			|🦢
	li.emoji--item
		span.emoji--item--icon
			|🦩
	li.emoji--item
		span.emoji--item--icon
			|🕊️
	li.emoji--item
		span.emoji--item--icon
			|🐇
	li.emoji--item
		span.emoji--item--icon
			|🦝
	li.emoji--item
		span.emoji--item--icon
			|🦨
	li.emoji--item
		span.emoji--item--icon
			|🦡
	li.emoji--item
		span.emoji--item--icon
			|🦦
	li.emoji--item
		span.emoji--item--icon
			|🦥
	li.emoji--item
		span.emoji--item--icon
			|🐁
	li.emoji--item
		span.emoji--item--icon
			|🐀
	li.emoji--item
		span.emoji--item--icon
			|🐿️
	li.emoji--item
		span.emoji--item--icon
			|🦔
	li.emoji--item
		span.emoji--item--icon
			|🐾
	li.emoji--item
		span.emoji--item--icon
			|🐉
	li.emoji--item
		span.emoji--item--icon
			|🐲
	li.emoji--item
		span.emoji--item--icon
			|🌵
	li.emoji--item
		span.emoji--item--icon
			|🎄
	li.emoji--item
		span.emoji--item--icon
			|🌲
	li.emoji--item
		span.emoji--item--icon
			|🌳
	li.emoji--item
		span.emoji--item--icon
			|🌴
	li.emoji--item
		span.emoji--item--icon
			|🌱
	li.emoji--item
		span.emoji--item--icon
			|🌿
	li.emoji--item
		span.emoji--item--icon
			|☘️
	li.emoji--item
		span.emoji--item--icon
			|🍀
	li.emoji--item
		span.emoji--item--icon
			|🎍
	li.emoji--item
		span.emoji--item--icon
			|🎋
	li.emoji--item
		span.emoji--item--icon
			|🍃
	li.emoji--item
		span.emoji--item--icon
			|🍂
	li.emoji--item
		span.emoji--item--icon
			|🍁
	li.emoji--item
		span.emoji--item--icon
			|🍄
	li.emoji--item
		span.emoji--item--icon
			|🐚
	li.emoji--item
		span.emoji--item--icon
			|🌾
	li.emoji--item
		span.emoji--item--icon
			|💐
	li.emoji--item
		span.emoji--item--icon
			|🌷
	li.emoji--item
		span.emoji--item--icon
			|🌹
	li.emoji--item
		span.emoji--item--icon
			|🥀
	li.emoji--item
		span.emoji--item--icon
			|🌺
	li.emoji--item
		span.emoji--item--icon
			|🌸
	li.emoji--item
		span.emoji--item--icon
			|🌼
	li.emoji--item
		span.emoji--item--icon
			|🌻
	li.emoji--item
		span.emoji--item--icon
			|🌞
	li.emoji--item
		span.emoji--item--icon
			|🌝
	li.emoji--item
		span.emoji--item--icon
			|🌛
	li.emoji--item
		span.emoji--item--icon
			|🌜
	li.emoji--item
		span.emoji--item--icon
			|🌚
	li.emoji--item
		span.emoji--item--icon
			|🌕
	li.emoji--item
		span.emoji--item--icon
			|🌖
	li.emoji--item
		span.emoji--item--icon
			|🌗
	li.emoji--item
		span.emoji--item--icon
			|🌘
	li.emoji--item
		span.emoji--item--icon
			|🌑
	li.emoji--item
		span.emoji--item--icon
			|🌒
	li.emoji--item
		span.emoji--item--icon
			|🌓
	li.emoji--item
		span.emoji--item--icon
			|🌔
	li.emoji--item
		span.emoji--item--icon
			|🌙
	li.emoji--item
		span.emoji--item--icon
			|🌎
	li.emoji--item
		span.emoji--item--icon
			|🌍
	li.emoji--item
		span.emoji--item--icon
			|🌏
	li.emoji--item
		span.emoji--item--icon
			|🪐
	li.emoji--item
		span.emoji--item--icon
			|💫
	li.emoji--item
		span.emoji--item--icon
			|⭐
	li.emoji--item
		span.emoji--item--icon
			|🌟
	li.emoji--item
		span.emoji--item--icon
			|✨
	li.emoji--item
		span.emoji--item--icon
			|⚡
	li.emoji--item
		span.emoji--item--icon
			|☄️
	li.emoji--item
		span.emoji--item--icon
			|💥
	li.emoji--item
		span.emoji--item--icon
			|🔥
	li.emoji--item
		span.emoji--item--icon
			|🌪️
	li.emoji--item
		span.emoji--item--icon
			|🌈
	li.emoji--item
		span.emoji--item--icon
			|☀️
	li.emoji--item
		span.emoji--item--icon
			|🌤️
	li.emoji--item
		span.emoji--item--icon
			|⛅
	li.emoji--item
		span.emoji--item--icon
			|🌥️
	li.emoji--item
		span.emoji--item--icon
			|☁️
	li.emoji--item
		span.emoji--item--icon
			|🌦️
	li.emoji--item
		span.emoji--item--icon
			|🌧️
	li.emoji--item
		span.emoji--item--icon
			|⛈️
	li.emoji--item
		span.emoji--item--icon
			|🌩️
	li.emoji--item
		span.emoji--item--icon
			|🌨️
	li.emoji--item
		span.emoji--item--icon
			|❄️
	li.emoji--item
		span.emoji--item--icon
			|☃️
	li.emoji--item
		span.emoji--item--icon
			|⛄
	li.emoji--item
		span.emoji--item--icon
			|🌬️
	li.emoji--item
		span.emoji--item--icon
			|💨
	li.emoji--item
		span.emoji--item--icon
			|💧
	li.emoji--item
		span.emoji--item--icon
			|💦
	li.emoji--item
		span.emoji--item--icon
			|☔
	li.emoji--item
		span.emoji--item--icon
			|☂️
	li.emoji--item
		span.emoji--item--icon
			|🌊
	li.emoji--item
		span.emoji--item--icon
			|🌫️
