h2.text-center
	|Еда, напиток
// Food & Drink
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|🍏
	span.emoji--icon(data-copy="")
			|🍎
	span.emoji--icon(data-copy="")
			|🍐
	span.emoji--icon(data-copy="")
			|🍊
	span.emoji--icon(data-copy="")
			|🍋
	span.emoji--icon(data-copy="")
			|🍌
	span.emoji--icon(data-copy="")
			|🍉
	span.emoji--icon(data-copy="")
			|🍇
	span.emoji--icon(data-copy="")
			|🍓
	span.emoji--icon(data-copy="")
			|🍈
	span.emoji--icon(data-copy="")
			|🍒
	span.emoji--icon(data-copy="")
			|🍑
	span.emoji--icon(data-copy="")
			|🥭
	span.emoji--icon(data-copy="")
			|🍍
	span.emoji--icon(data-copy="")
			|🥥
	span.emoji--icon(data-copy="")
			|🥝
	span.emoji--icon(data-copy="")
			|🍅
	span.emoji--icon(data-copy="")
			|🍆
	span.emoji--icon(data-copy="")
			|🥑
	span.emoji--icon(data-copy="")
			|🥦
	span.emoji--icon(data-copy="")
			|🥬
	span.emoji--icon(data-copy="")
			|🥒
	span.emoji--icon(data-copy="")
			|🌶️
	span.emoji--icon(data-copy="")
			|🌽
	span.emoji--icon(data-copy="")
			|🥕
	span.emoji--icon(data-copy="")
			|🧄
	span.emoji--icon(data-copy="")
			|🧅
	span.emoji--icon(data-copy="")
			|🥔
	span.emoji--icon(data-copy="")
			|🍠
	span.emoji--icon(data-copy="")
			|🥐
	span.emoji--icon(data-copy="")
			|🥯
	span.emoji--icon(data-copy="")
			|🍞
	span.emoji--icon(data-copy="")
			|🥖
	span.emoji--icon(data-copy="")
			|🥨
	span.emoji--icon(data-copy="")
			|🧀
	span.emoji--icon(data-copy="")
			|🥚
	span.emoji--icon(data-copy="")
			|🍳
	span.emoji--icon(data-copy="")
			|🧈
	span.emoji--icon(data-copy="")
			|🥞
	span.emoji--icon(data-copy="")
			|🧇
	span.emoji--icon(data-copy="")
			|🥓
	span.emoji--icon(data-copy="")
			|🥩
	span.emoji--icon(data-copy="")
			|🍗
	span.emoji--icon(data-copy="")
			|🍖
	span.emoji--icon(data-copy="")
			|🦴
	span.emoji--icon(data-copy="")
			|🌭
	span.emoji--icon(data-copy="")
			|🍔
	span.emoji--icon(data-copy="")
			|🍟
	span.emoji--icon(data-copy="")
			|🍕
	span.emoji--icon(data-copy="")
			|🥪
	span.emoji--icon(data-copy="")
			|🥙
	span.emoji--icon(data-copy="")
			|🧆
	span.emoji--icon(data-copy="")
			|🌮
	span.emoji--icon(data-copy="")
			|🌯
	span.emoji--icon(data-copy="")
			|🥗
	span.emoji--icon(data-copy="")
			|🥘
	span.emoji--icon(data-copy="")
			|🥫
	span.emoji--icon(data-copy="")
			|🍝
	span.emoji--icon(data-copy="")
			|🍜
	span.emoji--icon(data-copy="")
			|🍲
	span.emoji--icon(data-copy="")
			|🍛
	span.emoji--icon(data-copy="")
			|🍣
	span.emoji--icon(data-copy="")
			|🍱
	span.emoji--icon(data-copy="")
			|🥟
	span.emoji--icon(data-copy="")
			|🦪
	span.emoji--icon(data-copy="")
			|🍤
	span.emoji--icon(data-copy="")
			|🍙
	span.emoji--icon(data-copy="")
			|🍚
	span.emoji--icon(data-copy="")
			|🍘
	span.emoji--icon(data-copy="")
			|🍥
	span.emoji--icon(data-copy="")
			|🥠
	span.emoji--icon(data-copy="")
			|🥮
	span.emoji--icon(data-copy="")
			|🍢
	span.emoji--icon(data-copy="")
			|🍡
	span.emoji--icon(data-copy="")
			|🍧
	span.emoji--icon(data-copy="")
			|🍨
	span.emoji--icon(data-copy="")
			|🍦
	span.emoji--icon(data-copy="")
			|🥧
	span.emoji--icon(data-copy="")
			|🧁
	span.emoji--icon(data-copy="")
			|🍰
	span.emoji--icon(data-copy="")
			|🎂
	span.emoji--icon(data-copy="")
			|🍮
	span.emoji--icon(data-copy="")
			|🍭
	span.emoji--icon(data-copy="")
			|🍬
	span.emoji--icon(data-copy="")
			|🍫
	span.emoji--icon(data-copy="")
			|🍿
	span.emoji--icon(data-copy="")
			|🍩
	span.emoji--icon(data-copy="")
			|🍪
	span.emoji--icon(data-copy="")
			|🌰
	span.emoji--icon(data-copy="")
			|🥜
	span.emoji--icon(data-copy="")
			|🍯
	span.emoji--icon(data-copy="")
			|🥛
	span.emoji--icon(data-copy="")
			|🍼
	span.emoji--icon(data-copy="")
			|☕
	span.emoji--icon(data-copy="")
			|🍵
	span.emoji--icon(data-copy="")
			|🧉
	span.emoji--icon(data-copy="")
			|🧃
	span.emoji--icon(data-copy="")
			|🥤
	span.emoji--icon(data-copy="")
			|🍶
	span.emoji--icon(data-copy="")
			|🍺
	span.emoji--icon(data-copy="")
			|🍻
	span.emoji--icon(data-copy="")
			|🥂
	span.emoji--icon(data-copy="")
			|🍷
	span.emoji--icon(data-copy="")
			|🥃
	span.emoji--icon(data-copy="")
			|🍸
	span.emoji--icon(data-copy="")
			|🍹
	span.emoji--icon(data-copy="")
			|🍾
	span.emoji--icon(data-copy="")
			|🧊
	span.emoji--icon(data-copy="")
			|🥄
	span.emoji--icon(data-copy="")
			|🍴
	span.emoji--icon(data-copy="")
			|🍽️
	span.emoji--icon(data-copy="")
			|🥣
	span.emoji--icon(data-copy="")
			|🥡
	span.emoji--icon(data-copy="")
			|🥢
	span.emoji--icon(data-copy="")
			|🧂