h2.text-center
	|Путешествия и Места
// Travel & Places
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|🚗
	span.emoji--icon(data-copy="")
			|🚕
	span.emoji--icon(data-copy="")
			|🚙
	span.emoji--icon(data-copy="")
			|🚐
	span.emoji--icon(data-copy="")
			|🚌
	span.emoji--icon(data-copy="")
			|🚎
	span.emoji--icon(data-copy="")
			|🏎️
	span.emoji--icon(data-copy="")
			|🚓
	span.emoji--icon(data-copy="")
			|🚑
	span.emoji--icon(data-copy="")
			|🚒
	span.emoji--icon(data-copy="")
			|🚚
	span.emoji--icon(data-copy="")
			|🚛
	span.emoji--icon(data-copy="")
			|🚜
	span.emoji--icon(data-copy="")
			|🦯
	span.emoji--icon(data-copy="")
			|🦽
	span.emoji--icon(data-copy="")
			|🦼
	span.emoji--icon(data-copy="")
			|🛴
	span.emoji--icon(data-copy="")
			|🚲
	span.emoji--icon(data-copy="")
			|🛵
	span.emoji--icon(data-copy="")
			|🏍️
	span.emoji--icon(data-copy="")
			|🛺
	span.emoji--icon(data-copy="")
			|🚨
	span.emoji--icon(data-copy="")
			|🚔
	span.emoji--icon(data-copy="")
			|🚍
	span.emoji--icon(data-copy="")
			|🚘
	span.emoji--icon(data-copy="")
			|🚖
	span.emoji--icon(data-copy="")
			|🚡
	span.emoji--icon(data-copy="")
			|🚠
	span.emoji--icon(data-copy="")
			|🚟
	span.emoji--icon(data-copy="")
			|🚃
	span.emoji--icon(data-copy="")
			|🚋
	span.emoji--icon(data-copy="")
			|🚞
	span.emoji--icon(data-copy="")
			|🚝
	span.emoji--icon(data-copy="")
			|🚄
	span.emoji--icon(data-copy="")
			|🚅
	span.emoji--icon(data-copy="")
			|🚈
	span.emoji--icon(data-copy="")
			|🚂
	span.emoji--icon(data-copy="")
			|🚆
	span.emoji--icon(data-copy="")
			|🚇
	span.emoji--icon(data-copy="")
			|🚊
	span.emoji--icon(data-copy="")
			|🚉
	span.emoji--icon(data-copy="")
			|✈️
	span.emoji--icon(data-copy="")
			|🛫
	span.emoji--icon(data-copy="")
			|🛬
	span.emoji--icon(data-copy="")
			|🛩️
	span.emoji--icon(data-copy="")
			|💺
	span.emoji--icon(data-copy="")
			|🛰️
	span.emoji--icon(data-copy="")
			|🚀
	span.emoji--icon(data-copy="")
			|🛸
	span.emoji--icon(data-copy="")
			|🚁
	span.emoji--icon(data-copy="")
			|🛶
	span.emoji--icon(data-copy="")
			|⛵
	span.emoji--icon(data-copy="")
			|🚤
	span.emoji--icon(data-copy="")
			|🛥️
	span.emoji--icon(data-copy="")
			|🛳️
	span.emoji--icon(data-copy="")
			|⛴️
	span.emoji--icon(data-copy="")
			|🚢
	span.emoji--icon(data-copy="")
			|⚓
	span.emoji--icon(data-copy="")
			|⛽
	span.emoji--icon(data-copy="")
			|🚧
	span.emoji--icon(data-copy="")
			|🚦
	span.emoji--icon(data-copy="")
			|🚥
	span.emoji--icon(data-copy="")
			|🚏
	span.emoji--icon(data-copy="")
			|🗺️
	span.emoji--icon(data-copy="")
			|🗿
	span.emoji--icon(data-copy="")
			|🗽
	span.emoji--icon(data-copy="")
			|🗼
	span.emoji--icon(data-copy="")
			|🏰
	span.emoji--icon(data-copy="")
			|🏯
	span.emoji--icon(data-copy="")
			|🏟️
	span.emoji--icon(data-copy="")
			|🎡
	span.emoji--icon(data-copy="")
			|🎢
	span.emoji--icon(data-copy="")
			|🎠
	span.emoji--icon(data-copy="")
			|⛲
	span.emoji--icon(data-copy="")
			|⛱️
	span.emoji--icon(data-copy="")
			|🏖️
	span.emoji--icon(data-copy="")
			|🏝️
	span.emoji--icon(data-copy="")
			|🏜️
	span.emoji--icon(data-copy="")
			|🌋
	span.emoji--icon(data-copy="")
			|⛰️
	span.emoji--icon(data-copy="")
			|🏔️
	span.emoji--icon(data-copy="")
			|🗻
	span.emoji--icon(data-copy="")
			|🏕️
	span.emoji--icon(data-copy="")
			|⛺
	span.emoji--icon(data-copy="")
			|🏠
	span.emoji--icon(data-copy="")
			|🏡
	span.emoji--icon(data-copy="")
			|🏘️
	span.emoji--icon(data-copy="")
			|🏚️
	span.emoji--icon(data-copy="")
			|🏗️
	span.emoji--icon(data-copy="")
			|🏭
	span.emoji--icon(data-copy="")
			|🏢
	span.emoji--icon(data-copy="")
			|🏬
	span.emoji--icon(data-copy="")
			|🏣
	span.emoji--icon(data-copy="")
			|🏤
	span.emoji--icon(data-copy="")
			|🏥
	span.emoji--icon(data-copy="")
			|🏦
	span.emoji--icon(data-copy="")
			|🏨
	span.emoji--icon(data-copy="")
			|🏪
	span.emoji--icon(data-copy="")
			|🏫
	span.emoji--icon(data-copy="")
			|🏩
	span.emoji--icon(data-copy="")
			|💒
	span.emoji--icon(data-copy="")
			|🏛️
	span.emoji--icon(data-copy="")
			|⛪
	span.emoji--icon(data-copy="")
			|🕌
	span.emoji--icon(data-copy="")
			|🕍
	span.emoji--icon(data-copy="")
			|🛕
	span.emoji--icon(data-copy="")
			|🕋
	span.emoji--icon(data-copy="")
			|⛩️
	span.emoji--icon(data-copy="")
			|🛤️
	span.emoji--icon(data-copy="")
			|🛣️
	span.emoji--icon(data-copy="")
			|🗾
	span.emoji--icon(data-copy="")
			|🎑
	span.emoji--icon(data-copy="")
			|🏞️
	span.emoji--icon(data-copy="")
			|🌅
	span.emoji--icon(data-copy="")
			|🌄
	span.emoji--icon(data-copy="")
			|🌠
	span.emoji--icon(data-copy="")
			|🎇
	span.emoji--icon(data-copy="")
			|🎆
	span.emoji--icon(data-copy="")
			|🌇
	span.emoji--icon(data-copy="")
			|🌆
	span.emoji--icon(data-copy="")
			|🏙️
	span.emoji--icon(data-copy="")
			|🌃
	span.emoji--icon(data-copy="")
			|🌌
	span.emoji--icon(data-copy="")
			|🌉
	span.emoji--icon(data-copy="")
			|🌁
