h2.text-center
	|Objects
// Objects
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|⌚
	span.emoji--icon(data-copy="")
			|📱
	span.emoji--icon(data-copy="")
			|📲
	span.emoji--icon(data-copy="")
			|💻
	span.emoji--icon(data-copy="")
			|⌨️
	span.emoji--icon(data-copy="")
			|🖥️
	span.emoji--icon(data-copy="")
			|🖨️
	span.emoji--icon(data-copy="")
			|🖱️
	span.emoji--icon(data-copy="")
			|🖲️
	span.emoji--icon(data-copy="")
			|🕹️
	span.emoji--icon(data-copy="")
			|🗜️
	span.emoji--icon(data-copy="")
			|💽
	span.emoji--icon(data-copy="")
			|💾
	span.emoji--icon(data-copy="")
			|💿
	span.emoji--icon(data-copy="")
			|📀
	span.emoji--icon(data-copy="")
			|📼
	span.emoji--icon(data-copy="")
			|📷
	span.emoji--icon(data-copy="")
			|📸
	span.emoji--icon(data-copy="")
			|📹
	span.emoji--icon(data-copy="")
			|🎥
	span.emoji--icon(data-copy="")
			|📽️
	span.emoji--icon(data-copy="")
			|🎞️
	span.emoji--icon(data-copy="")
			|📞
	span.emoji--icon(data-copy="")
			|☎️
	span.emoji--icon(data-copy="")
			|📟
	span.emoji--icon(data-copy="")
			|📠
	span.emoji--icon(data-copy="")
			|📺
	span.emoji--icon(data-copy="")
			|📻
	span.emoji--icon(data-copy="")
			|🎙️
	span.emoji--icon(data-copy="")
			|🎚️
	span.emoji--icon(data-copy="")
			|🎛️
	span.emoji--icon(data-copy="")
			|🧭
	span.emoji--icon(data-copy="")
			|⏱️
	span.emoji--icon(data-copy="")
			|⏲️
	span.emoji--icon(data-copy="")
			|⏰
	span.emoji--icon(data-copy="")
			|🕰️
	span.emoji--icon(data-copy="")
			|⌛
	span.emoji--icon(data-copy="")
			|⏳
	span.emoji--icon(data-copy="")
			|📡
	span.emoji--icon(data-copy="")
			|🔋
	span.emoji--icon(data-copy="")
			|🔌
	span.emoji--icon(data-copy="")
			|💡
	span.emoji--icon(data-copy="")
			|🔦
	span.emoji--icon(data-copy="")
			|🕯️
	span.emoji--icon(data-copy="")
			|🪔
	span.emoji--icon(data-copy="")
			|🧯
	span.emoji--icon(data-copy="")
			|🛢️
	span.emoji--icon(data-copy="")
			|💸
	span.emoji--icon(data-copy="")
			|💵
	span.emoji--icon(data-copy="")
			|💴
	span.emoji--icon(data-copy="")
			|💶
	span.emoji--icon(data-copy="")
			|💷
	span.emoji--icon(data-copy="")
			|💰
	span.emoji--icon(data-copy="")
			|💳
	span.emoji--icon(data-copy="")
			|💎
	span.emoji--icon(data-copy="")
			|⚖️
	span.emoji--icon(data-copy="")
			|🧰
	span.emoji--icon(data-copy="")
			|🔧
	span.emoji--icon(data-copy="")
			|🔨
	span.emoji--icon(data-copy="")
			|⚒️
	span.emoji--icon(data-copy="")
			|🛠️
	span.emoji--icon(data-copy="")
			|⛏️
	span.emoji--icon(data-copy="")
			|🔩
	span.emoji--icon(data-copy="")
			|⚙️
	span.emoji--icon(data-copy="")
			|🧱
	span.emoji--icon(data-copy="")
			|⛓️
	span.emoji--icon(data-copy="")
			|🧲
	span.emoji--icon(data-copy="")
			|🔫
	span.emoji--icon(data-copy="")
			|💣
	span.emoji--icon(data-copy="")
			|🧨
	span.emoji--icon(data-copy="")
			|🪓
	span.emoji--icon(data-copy="")
			|🔪
	span.emoji--icon(data-copy="")
			|🗡️
	span.emoji--icon(data-copy="")
			|⚔️
	span.emoji--icon(data-copy="")
			|🛡️
	span.emoji--icon(data-copy="")
			|🚬
	span.emoji--icon(data-copy="")
			|⚰️
	span.emoji--icon(data-copy="")
			|⚱️
	span.emoji--icon(data-copy="")
			|🏺
	span.emoji--icon(data-copy="")
			|🔮
	span.emoji--icon(data-copy="")
			|📿
	span.emoji--icon(data-copy="")
			|🧿
	span.emoji--icon(data-copy="")
			|💈
	span.emoji--icon(data-copy="")
			|⚗️
	span.emoji--icon(data-copy="")
			|🔭
	span.emoji--icon(data-copy="")
			|🔬
	span.emoji--icon(data-copy="")
			|🕳️
	span.emoji--icon(data-copy="")
			|🩹
	span.emoji--icon(data-copy="")
			|🩺
	span.emoji--icon(data-copy="")
			|💊
	span.emoji--icon(data-copy="")
			|💉
	span.emoji--icon(data-copy="")
			|🩸
	span.emoji--icon(data-copy="")
			|🧬
	span.emoji--icon(data-copy="")
			|🦠
	span.emoji--icon(data-copy="")
			|🧫
	span.emoji--icon(data-copy="")
			|🧪
	span.emoji--icon(data-copy="")
			|🌡️
	span.emoji--icon(data-copy="")
			|🧹
	span.emoji--icon(data-copy="")
			|🧺
	span.emoji--icon(data-copy="")
			|🧻
	span.emoji--icon(data-copy="")
			|🚽
	span.emoji--icon(data-copy="")
			|🚰
	span.emoji--icon(data-copy="")
			|🚿
	span.emoji--icon(data-copy="")
			|🛁
	span.emoji--icon(data-copy="")
			|🛀
	span.emoji--icon(data-copy="")
			|🧼
	span.emoji--icon(data-copy="")
			|🪒
	span.emoji--icon(data-copy="")
			|🧽
	span.emoji--icon(data-copy="")
			|🧴
	span.emoji--icon(data-copy="")
			|🛎️
	span.emoji--icon(data-copy="")
			|🔑
	span.emoji--icon(data-copy="")
			|🗝️
	span.emoji--icon(data-copy="")
			|🚪
	span.emoji--icon(data-copy="")
			|🪑
	span.emoji--icon(data-copy="")
			|🛋️
	span.emoji--icon(data-copy="")
			|🛏️
	span.emoji--icon(data-copy="")
			|🛌
	span.emoji--icon(data-copy="")
			|🧸
	span.emoji--icon(data-copy="")
			|🖼️
	span.emoji--icon(data-copy="")
			|🛍️
	span.emoji--icon(data-copy="")
			|🛒
	span.emoji--icon(data-copy="")
			|🎁
	span.emoji--icon(data-copy="")
			|🎈
	span.emoji--icon(data-copy="")
			|🎏
	span.emoji--icon(data-copy="")
			|🎀
	span.emoji--icon(data-copy="")
			|🎊
	span.emoji--icon(data-copy="")
			|🎉
	span.emoji--icon(data-copy="")
			|🎎
	span.emoji--icon(data-copy="")
			|🏮
	span.emoji--icon(data-copy="")
			|🎐
	span.emoji--icon(data-copy="")
			|🧧
	span.emoji--icon(data-copy="")
			|✉️
	span.emoji--icon(data-copy="")
			|📩
	span.emoji--icon(data-copy="")
			|📨
	span.emoji--icon(data-copy="")
			|📧
	span.emoji--icon(data-copy="")
			|💌
	span.emoji--icon(data-copy="")
			|📥
	span.emoji--icon(data-copy="")
			|📤
	span.emoji--icon(data-copy="")
			|📦
	span.emoji--icon(data-copy="")
			|🏷️
	span.emoji--icon(data-copy="")
			|📪
	span.emoji--icon(data-copy="")
			|📫
	span.emoji--icon(data-copy="")
			|📬
	span.emoji--icon(data-copy="")
			|📭
	span.emoji--icon(data-copy="")
			|📮
	span.emoji--icon(data-copy="")
			|📯
	span.emoji--icon(data-copy="")
			|📜
	span.emoji--icon(data-copy="")
			|📃
	span.emoji--icon(data-copy="")
			|📄
	span.emoji--icon(data-copy="")
			|📑
	span.emoji--icon(data-copy="")
			|🧾
	span.emoji--icon(data-copy="")
			|📊
	span.emoji--icon(data-copy="")
			|📈
	span.emoji--icon(data-copy="")
			|📉
	span.emoji--icon(data-copy="")
			|🗒️
	span.emoji--icon(data-copy="")
			|🗓️
	span.emoji--icon(data-copy="")
			|📆
	span.emoji--icon(data-copy="")
			|📅
	span.emoji--icon(data-copy="")
			|🗑️
	span.emoji--icon(data-copy="")
			|📇
	span.emoji--icon(data-copy="")
			|🗃️
	span.emoji--icon(data-copy="")
			|🗳️
	span.emoji--icon(data-copy="")
			|🗄️
	span.emoji--icon(data-copy="")
			|📋
	span.emoji--icon(data-copy="")
			|📁
	span.emoji--icon(data-copy="")
			|📂
	span.emoji--icon(data-copy="")
			|🗂️
	span.emoji--icon(data-copy="")
			|🗞️
	span.emoji--icon(data-copy="")
			|📰
	span.emoji--icon(data-copy="")
			|📓
	span.emoji--icon(data-copy="")
			|📔
	span.emoji--icon(data-copy="")
			|📒
	span.emoji--icon(data-copy="")
			|📕
	span.emoji--icon(data-copy="")
			|📗
	span.emoji--icon(data-copy="")
			|📘
	span.emoji--icon(data-copy="")
			|📙
	span.emoji--icon(data-copy="")
			|📚
	span.emoji--icon(data-copy="")
			|📖
	span.emoji--icon(data-copy="")
			|🔖
	span.emoji--icon(data-copy="")
			|🧷
	span.emoji--icon(data-copy="")
			|🔗
	span.emoji--icon(data-copy="")
			|📎
	span.emoji--icon(data-copy="")
			|🖇️
	span.emoji--icon(data-copy="")
			|📐
	span.emoji--icon(data-copy="")
			|📏
	span.emoji--icon(data-copy="")
			|🧮
	span.emoji--icon(data-copy="")
			|📌
	span.emoji--icon(data-copy="")
			|📍
	span.emoji--icon(data-copy="")
			|✂️
	span.emoji--icon(data-copy="")
			|🖊️
	span.emoji--icon(data-copy="")
			|🖋️
	span.emoji--icon(data-copy="")
			|✒️
	span.emoji--icon(data-copy="")
			|🖌️
	span.emoji--icon(data-copy="")
			|🖍️
	span.emoji--icon(data-copy="")
			|📝
	span.emoji--icon(data-copy="")
			|✏️
	span.emoji--icon(data-copy="")
			|🔍
	span.emoji--icon(data-copy="")
			|🔎
	span.emoji--icon(data-copy="")
			|🔏
	span.emoji--icon(data-copy="")
			|🔐
	span.emoji--icon(data-copy="")
			|🔒
	span.emoji--icon(data-copy="")
			|🔓
