h2.text-center
	|Символы
// Symbols
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|❤️
	span.emoji--icon(data-copy="")
			|🧡
	span.emoji--icon(data-copy="")
			|💛
	span.emoji--icon(data-copy="")
			|💚
	span.emoji--icon(data-copy="")
			|💙
	span.emoji--icon(data-copy="")
			|💜
	span.emoji--icon(data-copy="")
			|🖤
	span.emoji--icon(data-copy="")
			|🤍
	span.emoji--icon(data-copy="")
			|🤎
	span.emoji--icon(data-copy="")
			|💔
	span.emoji--icon(data-copy="")
			|❣️
	span.emoji--icon(data-copy="")
			|💕
	span.emoji--icon(data-copy="")
			|💞
	span.emoji--icon(data-copy="")
			|💓
	span.emoji--icon(data-copy="")
			|💗
	span.emoji--icon(data-copy="")
			|💖
	span.emoji--icon(data-copy="")
			|💘
	span.emoji--icon(data-copy="")
			|💝
	span.emoji--icon(data-copy="")
			|💟
	span.emoji--icon(data-copy="")
			|☮️
	span.emoji--icon(data-copy="")
			|✝️
	span.emoji--icon(data-copy="")
			|☪️
	span.emoji--icon(data-copy="")
			|🕉️
	span.emoji--icon(data-copy="")
			|☸️
	span.emoji--icon(data-copy="")
			|✡️
	span.emoji--icon(data-copy="")
			|🔯
	span.emoji--icon(data-copy="")
			|🕎
	span.emoji--icon(data-copy="")
			|☯️
	span.emoji--icon(data-copy="")
			|☦️
	span.emoji--icon(data-copy="")
			|🛐
	span.emoji--icon(data-copy="")
			|⛎
	span.emoji--icon(data-copy="")
			|♈
	span.emoji--icon(data-copy="")
			|♉
	span.emoji--icon(data-copy="")
			|♊
	span.emoji--icon(data-copy="")
			|♋
	span.emoji--icon(data-copy="")
			|♌
	span.emoji--icon(data-copy="")
			|♍
	span.emoji--icon(data-copy="")
			|♎
	span.emoji--icon(data-copy="")
			|♏
	span.emoji--icon(data-copy="")
			|♐
	span.emoji--icon(data-copy="")
			|♑
	span.emoji--icon(data-copy="")
			|♒
	span.emoji--icon(data-copy="")
			|♓
	span.emoji--icon(data-copy="")
			|🆔
	span.emoji--icon(data-copy="")
			|⚛️
	span.emoji--icon(data-copy="")
			|🉑
	span.emoji--icon(data-copy="")
			|☢️
	span.emoji--icon(data-copy="")
			|☣️
	span.emoji--icon(data-copy="")
			|📴
	span.emoji--icon(data-copy="")
			|📳
	span.emoji--icon(data-copy="")
			|🈶
	span.emoji--icon(data-copy="")
			|🈚
	span.emoji--icon(data-copy="")
			|🈸
	span.emoji--icon(data-copy="")
			|🈺
	span.emoji--icon(data-copy="")
			|🈷️
	span.emoji--icon(data-copy="")
			|✴️
	span.emoji--icon(data-copy="")
			|🆚
	span.emoji--icon(data-copy="")
			|💮
	span.emoji--icon(data-copy="")
			|🉐
	span.emoji--icon(data-copy="")
			|㊙️
	span.emoji--icon(data-copy="")
			|㊗️
	span.emoji--icon(data-copy="")
			|🈴
	span.emoji--icon(data-copy="")
			|🈵
	span.emoji--icon(data-copy="")
			|🈹
	span.emoji--icon(data-copy="")
			|🈲
	span.emoji--icon(data-copy="")
			|🅰️
	span.emoji--icon(data-copy="")
			|🅱️
	span.emoji--icon(data-copy="")
			|🆎
	span.emoji--icon(data-copy="")
			|🆑
	span.emoji--icon(data-copy="")
			|🅾️
	span.emoji--icon(data-copy="")
			|🆘
	span.emoji--icon(data-copy="")
			|❌
	span.emoji--icon(data-copy="")
			|⭕
	span.emoji--icon(data-copy="")
			|🛑
	span.emoji--icon(data-copy="")
			|⛔
	span.emoji--icon(data-copy="")
			|📛
	span.emoji--icon(data-copy="")
			|🚫
	span.emoji--icon(data-copy="")
			|💯
	span.emoji--icon(data-copy="")
			|💢
	span.emoji--icon(data-copy="")
			|♨️
	span.emoji--icon(data-copy="")
			|🚷
	span.emoji--icon(data-copy="")
			|🚯
	span.emoji--icon(data-copy="")
			|🚳
	span.emoji--icon(data-copy="")
			|🚱
	span.emoji--icon(data-copy="")
			|🔞
	span.emoji--icon(data-copy="")
			|📵
	span.emoji--icon(data-copy="")
			|🚭
	span.emoji--icon(data-copy="")
			|❗
	span.emoji--icon(data-copy="")
			|❕
	span.emoji--icon(data-copy="")
			|❓
	span.emoji--icon(data-copy="")
			|❔
	span.emoji--icon(data-copy="")
			|‼️
	span.emoji--icon(data-copy="")
			|⁉️
	span.emoji--icon(data-copy="")
			|🔅
	span.emoji--icon(data-copy="")
			|🔆
	span.emoji--icon(data-copy="")
			|〽️
	span.emoji--icon(data-copy="")
			|⚠️
	span.emoji--icon(data-copy="")
			|🚸
	span.emoji--icon(data-copy="")
			|🔱
	span.emoji--icon(data-copy="")
			|⚜️
	span.emoji--icon(data-copy="")
			|🔰
	span.emoji--icon(data-copy="")
			|♻️
	span.emoji--icon(data-copy="")
			|✅
	span.emoji--icon(data-copy="")
			|🈯
	span.emoji--icon(data-copy="")
			|💹
	span.emoji--icon(data-copy="")
			|❇️
	span.emoji--icon(data-copy="")
			|✳️
	span.emoji--icon(data-copy="")
			|❎
	span.emoji--icon(data-copy="")
			|🌐
	span.emoji--icon(data-copy="")
			|💠
	span.emoji--icon(data-copy="")
			|Ⓜ️
	span.emoji--icon(data-copy="")
			|🌀
	span.emoji--icon(data-copy="")
			|💤
	span.emoji--icon(data-copy="")
			|🏧
	span.emoji--icon(data-copy="")
			|🚾
	span.emoji--icon(data-copy="")
			|♿
	span.emoji--icon(data-copy="")
			|🅿️
	span.emoji--icon(data-copy="")
			|🈳
	span.emoji--icon(data-copy="")
			|🈂️
	span.emoji--icon(data-copy="")
			|🛂
	span.emoji--icon(data-copy="")
			|🛃
	span.emoji--icon(data-copy="")
			|🛄
	span.emoji--icon(data-copy="")
			|🛅
	span.emoji--icon(data-copy="")
			|🚹
	span.emoji--icon(data-copy="")
			|🚺
	span.emoji--icon(data-copy="")
			|🚼
	span.emoji--icon(data-copy="")
			|🚻
	span.emoji--icon(data-copy="")
			|🚮
	span.emoji--icon(data-copy="")
			|🎦
	span.emoji--icon(data-copy="")
			|📶
	span.emoji--icon(data-copy="")
			|🈁
	span.emoji--icon(data-copy="")
			|🔣
	span.emoji--icon(data-copy="")
			|ℹ️
	span.emoji--icon(data-copy="")
			|🔤
	span.emoji--icon(data-copy="")
			|🔡
	span.emoji--icon(data-copy="")
			|🔠
	span.emoji--icon(data-copy="")
			|🆖
	span.emoji--icon(data-copy="")
			|🆗
	span.emoji--icon(data-copy="")
			|🆙
	span.emoji--icon(data-copy="")
			|🆒
	span.emoji--icon(data-copy="")
			|🆕
	span.emoji--icon(data-copy="")
			|🆓
	span.emoji--icon(data-copy="")
			|0️⃣
	span.emoji--icon(data-copy="")
			|1️⃣
	span.emoji--icon(data-copy="")
			|2️⃣
	span.emoji--icon(data-copy="")
			|3️⃣
	span.emoji--icon(data-copy="")
			|4️⃣
	span.emoji--icon(data-copy="")
			|5️⃣
	span.emoji--icon(data-copy="")
			|6️⃣
	span.emoji--icon(data-copy="")
			|7️⃣
	span.emoji--icon(data-copy="")
			|8️⃣
	span.emoji--icon(data-copy="")
			|9️⃣
	span.emoji--icon(data-copy="")
			|🔟
	span.emoji--icon(data-copy="")
			|🔢
	span.emoji--icon(data-copy="")
			|#️⃣
	span.emoji--icon(data-copy="")
			|*️⃣
	span.emoji--icon(data-copy="")
			|⏏️
	span.emoji--icon(data-copy="")
			|▶️
	span.emoji--icon(data-copy="")
			|⏸️
	span.emoji--icon(data-copy="")
			|⏯️
	span.emoji--icon(data-copy="")
			|⏹️
	span.emoji--icon(data-copy="")
			|⏺️
	span.emoji--icon(data-copy="")
			|⏭️
	span.emoji--icon(data-copy="")
			|⏮️
	span.emoji--icon(data-copy="")
			|⏩
	span.emoji--icon(data-copy="")
			|⏪
	span.emoji--icon(data-copy="")
			|⏫
	span.emoji--icon(data-copy="")
			|⏬
	span.emoji--icon(data-copy="")
			|◀️
	span.emoji--icon(data-copy="")
			|🔼
	span.emoji--icon(data-copy="")
			|🔽
	span.emoji--icon(data-copy="")
			|➡️
	span.emoji--icon(data-copy="")
			|⬅️
	span.emoji--icon(data-copy="")
			|⬆️
	span.emoji--icon(data-copy="")
			|⬇️
	span.emoji--icon(data-copy="")
			|↗️
	span.emoji--icon(data-copy="")
			|↘️
	span.emoji--icon(data-copy="")
			|↙️
	span.emoji--icon(data-copy="")
			|↖️
	span.emoji--icon(data-copy="")
			|↕️
	span.emoji--icon(data-copy="")
			|↔️
	span.emoji--icon(data-copy="")
			|↪️
	span.emoji--icon(data-copy="")
			|↩️
	span.emoji--icon(data-copy="")
			|⤴️
	span.emoji--icon(data-copy="")
			|⤵️
	span.emoji--icon(data-copy="")
			|🔀
	span.emoji--icon(data-copy="")
			|🔁
	span.emoji--icon(data-copy="")
			|🔂
	span.emoji--icon(data-copy="")
			|🔄
	span.emoji--icon(data-copy="")
			|🔃
	span.emoji--icon(data-copy="")
			|🎵
	span.emoji--icon(data-copy="")
			|🎶
	span.emoji--icon(data-copy="")
			|➕
	span.emoji--icon(data-copy="")
			|➖
	span.emoji--icon(data-copy="")
			|➗
	span.emoji--icon(data-copy="")
			|✖️
	span.emoji--icon(data-copy="")
			|♾️
	span.emoji--icon(data-copy="")
			|💲
	span.emoji--icon(data-copy="")
			|💱
	span.emoji--icon(data-copy="")
			|™️
	span.emoji--icon(data-copy="")
			|©️
	span.emoji--icon(data-copy="")
			|®️
	span.emoji--icon(data-copy="")
			|〰️
	span.emoji--icon(data-copy="")
			|➰
	span.emoji--icon(data-copy="")
			|➿
	span.emoji--icon(data-copy="")
			|🔚
	span.emoji--icon(data-copy="")
			|🔙
	span.emoji--icon(data-copy="")
			|🔛
	span.emoji--icon(data-copy="")
			|🔝
	span.emoji--icon(data-copy="")
			|🔜
	span.emoji--icon(data-copy="")
			|✔️
	span.emoji--icon(data-copy="")
			|☑️
	span.emoji--icon(data-copy="")
			|🔘
	span.emoji--icon(data-copy="")
			|⚪
	span.emoji--icon(data-copy="")
			|⚫
	span.emoji--icon(data-copy="")
			|🔴
	span.emoji--icon(data-copy="")
			|🔵
	span.emoji--icon(data-copy="")
			|🟤
	span.emoji--icon(data-copy="")
			|🟣
	span.emoji--icon(data-copy="")
			|🟢
	span.emoji--icon(data-copy="")
			|🟡
	span.emoji--icon(data-copy="")
			|🟠
	span.emoji--icon(data-copy="")
			|🔺
	span.emoji--icon(data-copy="")
			|🔻
	span.emoji--icon(data-copy="")
			|🔸
	span.emoji--icon(data-copy="")
			|🔹
	span.emoji--icon(data-copy="")
			|🔶
	span.emoji--icon(data-copy="")
			|🔷
	span.emoji--icon(data-copy="")
			|🔳
	span.emoji--icon(data-copy="")
			|🔲
	span.emoji--icon(data-copy="")
			|▪️
	span.emoji--icon(data-copy="")
			|▫️
	span.emoji--icon(data-copy="")
			|◾
	span.emoji--icon(data-copy="")
			|◽
	span.emoji--icon(data-copy="")
			|◼️
	span.emoji--icon(data-copy="")
			|◻️
	span.emoji--icon(data-copy="")
			|⬛
	span.emoji--icon(data-copy="")
			|⬜
	span.emoji--icon(data-copy="")
			|🟧
	span.emoji--icon(data-copy="")
			|🟦
	span.emoji--icon(data-copy="")
			|🟥
	span.emoji--icon(data-copy="")
			|🟫
	span.emoji--icon(data-copy="")
			|🟪
	span.emoji--icon(data-copy="")
			|🟩
	span.emoji--icon(data-copy="")
			|🟨
	span.emoji--icon(data-copy="")
			|🔈
	span.emoji--icon(data-copy="")
			|🔇
	span.emoji--icon(data-copy="")
			|🔉
	span.emoji--icon(data-copy="")
			|🔊
	span.emoji--icon(data-copy="")
			|🔔
	span.emoji--icon(data-copy="")
			|🔕
	span.emoji--icon(data-copy="")
			|📣
	span.emoji--icon(data-copy="")
			|📢
	span.emoji--icon(data-copy="")
			|🗨️
	span.emoji--icon(data-copy="")
			|👁️‍🗨️
	span.emoji--icon(data-copy="")
			|💬
	span.emoji--icon(data-copy="")
			|💭
	span.emoji--icon(data-copy="")
			|🗯️
	span.emoji--icon(data-copy="")
			|♠️
	span.emoji--icon(data-copy="")
			|♣️
	span.emoji--icon(data-copy="")
			|♥️
	span.emoji--icon(data-copy="")
			|♦️
	span.emoji--icon(data-copy="")
			|🃏
	span.emoji--icon(data-copy="")
			|🎴
	span.emoji--icon(data-copy="")
			|🀄
	span.emoji--icon(data-copy="")
			|🕐
	span.emoji--icon(data-copy="")
			|🕑
	span.emoji--icon(data-copy="")
			|🕒
	span.emoji--icon(data-copy="")
			|🕓
	span.emoji--icon(data-copy="")
			|🕔
	span.emoji--icon(data-copy="")
			|🕕
	span.emoji--icon(data-copy="")
			|🕖
	span.emoji--icon(data-copy="")
			|🕗
	span.emoji--icon(data-copy="")
			|🕘
	span.emoji--icon(data-copy="")
			|🕙
	span.emoji--icon(data-copy="")
			|🕚
	span.emoji--icon(data-copy="")
			|🕛
	span.emoji--icon(data-copy="")
			|🕜
	span.emoji--icon(data-copy="")
			|🕝
	span.emoji--icon(data-copy="")
			|🕞
	span.emoji--icon(data-copy="")
			|🕟
	span.emoji--icon(data-copy="")
			|🕠
	span.emoji--icon(data-copy="")
			|🕡
	span.emoji--icon(data-copy="")
			|🕢
	span.emoji--icon(data-copy="")
			|🕣
	span.emoji--icon(data-copy="")
			|🕤
	span.emoji--icon(data-copy="")
			|🕥
	span.emoji--icon(data-copy="")
			|🕦
	span.emoji--icon(data-copy="")
			|🕧
	span.emoji--icon(data-copy="")
			|♀️
	span.emoji--icon(data-copy="")
			|♂️
	span.emoji--icon(data-copy="")
			|⚧
	span.emoji--icon(data-copy="")
			|⚕️
