h2.text-center
	|Флаги
// Flags
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|🏳️
	span.emoji--icon(data-copy="")
			|🏴
	span.emoji--icon(data-copy="")
			|🏴‍☠️
	span.emoji--icon(data-copy="")
			|🏁
	span.emoji--icon(data-copy="")
			|🚩
	span.emoji--icon(data-copy="")
			|🏳️‍🌈
	span.emoji--icon(data-copy="")
			|🎌
