h2.text-center
	|Flags
// Flags
.emoji-icons-wrapp
	span.emoji--icon(data-copy="")
			|рҹҸіпёҸ
	span.emoji--icon(data-copy="")
			|рҹҸҙ
	span.emoji--icon(data-copy="")
			|рҹҸҙвҖҚвҳ пёҸ
	span.emoji--icon(data-copy="")
			|рҹҸҒ
	span.emoji--icon(data-copy="")
			|рҹҡ©
	span.emoji--icon(data-copy="")
			|рҹҸіпёҸвҖҚрҹҢҲ
	span.emoji--icon(data-copy="")
			|рҹҺҢ
