.emoji-wrapp
	.emoji-tabs
		.tabs-item.active
			label(for="emoji-radio-people")
				input#emoji-radio-people(type="radio" name="emoji" value="people" checked)
				|Смайлики и народы
		.tabs-item
			label(for="emoji-radio-nature")
				input#emoji-radio-nature(type="radio" name="emoji" value="nature")
				|Животные и Природа
		.tabs-item
			label(for="emoji-radio-food")
				input#emoji-radio-food(type="radio" name="emoji" value="food")
				|Еда, напиток
		.tabs-item
			label(for="emoji-radio-activy")
				input#emoji-radio-activy(type="radio" name="emoji" value="activy")
				|Мероприятия
		.tabs-item
			label(for="emoji-radio-travel")
				input#emoji-radio-travel(type="radio" name="emoji" value="travel")
				|Путешествия и Места
		.tabs-item
			label(for="emoji-radio-objects")
				input#emoji-radio-objects(type="radio" name="emoji" value="objects")
				|Объекты
		.tabs-item
			label(for="emoji-radio-symbols")
				input#emoji-radio-symbols(type="radio" name="emoji" value="symbols")
				|Символы
		.tabs-item
			label(for="emoji-radio-flags")
				input#emoji-radio-flags(type="radio" name="emoji" value="flags")
				|Флаги
	.emoji-content
		#emoji-people.tabs-content.clearfix.active
			include 0001_emoji_people.pug
		#emoji-nature.tabs-content.clearfix
			include 0002_emoji_animals.pug
		#emoji-food.tabs-content.clearfix
			include 0003_emoji_food.pug
		#emoji-activy.tabs-content.clearfix
			include 0004_emoji_activity.pug
		#emoji-travel.tabs-content.clearfix
			include 0005_emoji_travel.pug
		#emoji-objects.tabs-content.clearfix
			include 0006_emoji_objects.pug
		#emoji-symbols.tabs-content.clearfix
			include 0007_emoji_symbols.pug
		#emoji-flags.tabs-content.clearfix
			include 0008_emoji_flags.pug
