html,
body {
	position: relative;
	min-height: 100vh;
}
body {
	background-color: black;
	.page {
		position: relative;
		min-height: 100vh;
		background-image: url("@{imgpath}/background.jpg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		display: flex;
		flex-direction: column;
		&-top,
		&-header,
		&-footer {
			flex: 0 0 auto;
		}
		&-header {
			border-bottom: unset;
			margin: unset;
			color: white;
		}
		&-main {
			flex: 1 0 auto;
		}
	}
}