* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
.clearfix {
	&::before,
	&::after {
		display: table;
		content: "";
	}
	&::before,
	&::after {
		clear: both;
	}
}
html,
body {
	font-family: var(--font-sans-serif);
}
a {
	color: var(--link-color);
	text-decoration: none;
	&:hover {
		color: var(--link-hover-color);
		text-decoration: underline;
	}
}
img,
video,
audio,
iframe,
object {
	max-width: 100%;
}
ul {
	li {
		margin-bottom: 5px;
		> ul {
			margin-top: 5px;
		}
	}
}
.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
strong, b {
	font-weight: 600;
}
code, kbd, pre, samp {
	white-space: pre;
}
.emoji {
	font-family: var(--font-emoji);
}
body {
	font-family: var(--font-emoji);
	font-size: 22px;
}
body {
	&.nobg {
		&.sendmail {
			font-size: var(--font-size-tinymce);
			font-family: var(--font-family-tinymce);
		}
	}
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}