@font-family-sans-serif:  'Calibri', 'Tahoma', sans-serif;
@font-family-serif:       'Calibri', 'Tahoma', sans-serif;
@font-family-tinymce:     'Tahoma', sans-serif;
@font-size-tinymce:      initial;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@icon-font-path:          "@{fontpath}/";

@font-emoji: 'apple color emoji', 'segoe ui emoji', 'noto color emoji', 'android emoji', 'emojisymbols', 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol', 'Noto Color Emoji Compat', 'emoji',  sans-serif;

@color: #333333;
@color-disabled: #858585;