@import "../../../../../src/less/localhost.less";
::-webkit-search-cancel-button {
	opacity: 1;
	cursor: pointer;
}
html,
body {
	&,
	> .container-fluid {
		position: relative;
		height: 100%;
		min-height: 100%;
	}
	> .container-fluid {
		.tab-pane {
			position: relative;
			height: ~'calc(100% - 8.5em)';
			min-height: ~'calc(100% - 8.5em)';
			> .tab-page {
				position: relative;
				height: ~'calc(100% - 2.5rem - 1.3em)';
				min-height: ~'calc(100% - 2.5rem - 1.3em)';
				> .container-fluid {
					position: relative;
					height: 100%;
					min-height: 100%;
					.tab-body-mailsend {
						&,
						> div,
						.dt-container.form-inline {
							position: relative;
							height: 100%;
							min-height: 100%;
						}
					}
				}
			}
		}
	}
}

.clearfix {
	&::before,
	&::after {
		display: table;
		clear: both;
		content: "";
	}
}

*,
.btn {
	&:disabled {
		cursor: not-allowed !important;
	}
}

h1,
h2 {
	.icon-skat {
		&::before {
			font-size: 3em;
		}
	}
}

dialog {
	padding: 15px;
	min-width: calc(100% - 70em);
	width: 100%;
	max-width: 600px;
	overflow: auto;
	font-size: 1em;
	border: unset;
	box-shadow: 0 0 0.3rem 0 rgba(0, 0, 0, .3);
	bacground-color: canvas;
	color: canvastext;
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
	header {
		&.row {
			background-color: #e0e0e0;
			margin-bottom: 15px;
			margin-top: -15px;
			padding: 5px 15px;
			user-select: none;
			justify-content: space-between;
			flex-wrap: nowrap;
			align-items: center;
			h2 {
				flex: 1;
			}
		}
	}
	form {
		select {
			&.form-control {
				height: auto !important;
			}
		}
		.btn {
			height: auto;
			&[type=file] {
				font-size: 0.8125rem;
				&::-webkit-file-upload-button {
					appearance: none;
					display: none;
				}
			}
			.fa,
			.far,
			.fas,
			[class^="icon-"],
			[class*=" icon-"] {
				display: none;
				width: 1em;
				font-size: 1em;
				text-align: center;
			}
			@media (max-width: 840px) {
				.fa,
				.far,
				.fas,
				[class^="icon-"],
				[class*=" icon-"] {
					display: inline-block;
				}
				span {
					font-size: 0;
				}
			}
		}
	}
}

.scroll-lock {
	overflow: hidden;
}

#MailSendManager_users,
#MailSendManager_groups {
	padding-top: 1rem;
	aspect-ratio: ~"16/6";
	margin-bottom: 1.3em;
}

.btn {
	font-size: .6772rem;
	height: 2.4em;
	line-height: 1.4;
	&-group {
		user-select: none;
		.btn {
			user-select: none;
			.fa,
			.fas,
			.far {
				pointer-events: none;
			}
		}
	}
}

a {
	&.btn {
		&-success,
		&-danger {
			&,
			&:not([href]),
			&:not([tabindex]),
			&:not([href]):not([tabindex]) {
				color: white;
			}
		}
		&:not([href]),
		&:not([tabindex]),
		&:not([href]):not([tabindex]) {
			cursor: pointer;
		}
	}
}

.tab {
	&-row {
		.tab {
			border: 1px solid rgba(0, 0, 0, 0.05);
			border-bottom: none;
			.fa,
			.fas,
			.far {
				margin-right: 0.5em;
				font-size: 0.875rem;
			}
		}
	}
	&-pane {
		> .tab-page {
			> .tab {
				border: 1px solid rgba(0, 0, 0, 0.05);
				border-bottom: none;
			}
		}
	}
	&-header {
		&-mailsend {
			padding: 1rem 0 0.5rem 0;
			letter-spacing: 0;
		}
	}
	&-body {
		&-mailsend {
			padding-bottom: 1rem;
		}
	}
}

.grid {
	table-layout: auto;
	thead {
		position: sticky;
		top: 0;
		z-index: 20;
		th {
			font-weight: 700;
			user-select: none;
		}
	}
	thead,
	tbody {
		th,td {
			&:nth-child(2) {
				//word-break: unset;
				//width: 100%;
			}
			&:first-child,
			&:last-child {
				width: 1%;
			}
		}
	}
	&-users {
		thead,
		tbody {
			th,
			td {
				&:nth-child(5) {
					//white-space: nowrap;
				}
			}
		}
	}
	&.grid-groups,
	&.grid-users {
		display: none;
		&.dataTable {
			display: table;
		}
	}
}
@gap-inline-form: 0.5em;
div.dt {
	&-length,
	&-search {
		display: flex;
		gap: @gap-inline-form * 2;
		flex: 1;
		width: 100%;
	}
	&-container {

		div {
			&.row {
				> * {
					@media screen and (max-width: 991px) {
						margin-bottom: .75rem;
					}
				}
			}
			&.dt {
				&-search {
					input {
						width: 100%;
					}
				}
			}
		}

		&.form-inline {
			flex-flow: column;
			align-items: unset;
			gap: @gap-inline-form;
			> .row {
				flex: 0;
				margin: unset;
				&.dt-layout-table {
					flex: 1;
					max-height: ~'calc(100% - 5.3em - 30px);';
					height: 100%;
					overflow: hidden;
					> .dt-layout-full {
						height: 100%;
						max-height: 100%;
						overflow: auto;
						.dt-scroll {
							overflow: auto;
							height: 100%;
							.dt-scroll-head,
							.dt-scroll-foot {
								position: sticky !important;
								z-index: 3;
							}
							.dt-scroll-head {
								top: 0;
							}
							.dt-scroll-foot {
								bottom: 0;
							}
						}
					}
				}
			}
		}
		.dt {
			&-length {
				label {
					white-space: nowrap;
				}
				select {
					margin-right: unset !important;
					flex: 1;
				}
			}
			&-search {
				input {
					margin-left: unset !important;
					flex: 1;
				}
			}
			&-layout {
				&-row {
					align-items: self-start !important;
					width: 100% !important;
					&:first-child {
						align-items: self-end !important;
					}
					.dt {
						&-layout {
							&-cell {
								padding: 0;
								padding-left: 0 !important;
								padding-right: 0 !important;
							}
						}
					}
					&:not(.dt-layout-table) {
						.dt-layout-cell {
							display: flex !important;
							> * {
								margin: 0 !important;
							}
						}
					}
				}
			}
		}
	}
	&-layout {
		&-start {
			align-content: start;
			flex-wrap: wrap;
			>:not(:last-child) {
				margin-right: unset !important;
			}
		}
		&-end {
			align-content: flex-end;
			flex-wrap: wrap;
		}
		&-start,
		&-end {
			margin-left: unset !important;
			margin-right: unset !important;
		}
		&-cell {
			gap: @gap-inline-form;
			display: flex;
			flex-direction: column;
			padding-bottom: .5em;
			justify-content: unset !important;
			align-items: unset !important;
			label {
				min-width: 6em;
				justify-content: flex-end;
			}
		}
		&-row {
			.dt {
				&-buttons {
					.btn {
						flex: 0 0 auto;
						font-weight: 700;
						font-size: 0.97em;
						min-width: 14em;
						@media screen and (max-width: 840px) {
							min-width: auto;
						}
						.fa,
						.far,
						.fas,
						[class^="icon-"],
						[class*=" icon-"] {
							display: none;
							width: 1em;
							font-size: 1em;
							text-align: center;
						}
						@media (max-width: 840px) {
							.fa,
							.far,
							.fas,
							[class^="icon-"],
							[class*=" icon-"] {
								display: inline-block;
							}
							span {
								font-size: 0;
							}
						}
						&.processing {
							pointer-events: none;
							&:after {
								border: 2px solid transparent;
							}
						}
					}
				}
				&-buttons,
				&-paging {
					padding-left: 15px;
				}
				&-paging {

					.page-link {
						/*
						min-width: 3.3em;
						text-align: center;
						&,
						&:active,
						&:hover,
						&:focus,
						&:focus-visible,
						&:focus-within,
						&:target {
							text-decoration: none;
						}
						*/
					}
				}
			}
			th,
			td {
				.btn {
					&-group {
						.fa,
						.far,
						.fas,
						[class^="icon-"],
						[class*=" icon-"] {
							display: inline-block !important;
						}
					}
				}
			}
		}
	}
	&-buttons {
		display: flex;
		gap: 0.7em;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	&-orderable {
		&-asc,
		&-desc {
			cursor: pointer;
			* {
				user-select: none;
			}
		}
	}
}
.dt-paging {
	margin: 0 !important;
	display: flex;
	justify-content: end;
	.pagination {
		user-select: none;
		.page-item {
			.page-link {
				//
				color: var(--secondary, #6c757d);
				min-width: 3.3em;
				text-align: center;
				text-decoration: none !important;
				&:hover {
					//
				}
				&:focus {
					box-shadow: unset;
				}
				&.ellipsis {
					pointer-events: none;
				}
			}
			&.active {
				.page-link {
					color: var(--white, #ffffff);
					background-color: var(--success, #007bff);
					border-color: var(--success, #007bff);
					pointer-events: none;
					&:hover {
						//
					}
				}
			}
			&.disabled {
				.page-link {
					//
					pointer-events: none;
				}
			}
		}
	}
}
.page {
	&-link {
		padding: 0.3rem 0.45rem;
	}
}

table.dataTable {
	thead {
		> tr {
			> th,
			> td {
				div.dt-column-header {
					align-items: center;
				}
			}
		}
	}
}

.dynamic-tab-pane-control.tab-pane {
	position: relative;
	width: 100%;
}
