doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head.pug
	body
		.page
			include tpl/header.pug
			main.page-main
				.container-fluid
					|
					|[*content*]
					|
				.page-main-bg
			footer.page-footer
		include inc/body_close.pug