doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head.pug
	body.nobg
		.page
			include tpl/header.pug
			main.page-main
				.container-fluid.white
					|[*content*]
				.container-fluid.white
					include inc/emoji.pug
			footer.page-footer
		include inc/body_close.pug