doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head.pug
		// Style
		link(type="text/css" rel="stylesheet" href="[(site_url)]assets/templates/projectsoft/css/main.min.css")
		// /Style
	body
		.page
			include inc/header.pug
			main.page-main
				.container-fluidbs
					|[*content*]
				.page-main-bg
			footer.page-footer
		include inc/body_close.pug
