doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head_send.pug
	body.nobg.sendmail
		div(style="padding: 15px;box-shadow: 0 0 5px #000000; max-width:920px; margin: 15px auto; background-color: #ffffff;")
			|[*content*]