// Glyphs Icons
@icon-angle-left: "\e900";
@icon-angle-right: "\e901";
@icon-angles-left: "\e902";
@icon-angles-right: "\e903";
@icon-begin: "\e904";
@icon-bell: "\e905";
@icon-best-banner: "\e906";
@icon-best-video: "\e907";
@icon-blockquote: "\e908";
@icon-calendar: "\e909";
@icon-callme: "\e90a";
@icon-check: "\e90b";
@icon-checkbox: "\e90c";
@icon-chrome: "\e90d";
@icon-circle-close: "\e90e";
@icon-close: "\e90f";
@icon-copy: "\e910";
@icon-down: "\e911";
@icon-download-pdf: "\e912";
@icon-download: "\e913";
@icon-email: "\e914";
@icon-end: "\e915";
@icon-error: "\e916";
@icon-event-calendar: "\e917";
@icon-eye-new: "\e918";
@icon-eye: "\e919";
@icon-facebook: "\e91a";
@icon-fbs: "\e91b";
@icon-file-excel: "\e91c";
@icon-file-pdf: "\e91d";
@icon-firefox: "\e91e";
@icon-github: "\e91f";
@icon-google: "\e920";
@icon-home: "\e921";
@icon-icofb: "\e922";
@icon-icoinsta: "\e923";
@icon-icook: "\e924";
@icon-icosk: "\e925";
@icon-icotg: "\e926";
@icon-icotw: "\e927";
@icon-icovb: "\e928";
@icon-icovk: "\e929";
@icon-icoyt: "\e92a";
@icon-image: "\e92b";
@icon-layer-minus: "\e92c";
@icon-layer-plus: "\e92d";
@icon-layer: "\e92e";
@icon-line-columns: "\e92f";
@icon-menu-close: "\e930";
@icon-menu-open: "\e931";
@icon-modx: "\e932";
@icon-next: "\e933";
@icon-ok: "\e934";
@icon-oks: "\e935";
@icon-opera: "\e936";
@icon-phone: "\e937";
@icon-photo: "\e938";
@icon-prev: "\e939";
@icon-print-ic: "\e93a";
@icon-print: "\e93b";
@icon-required: "\e93c";
@icon-reset: "\e93d";
@icon-rss-logo: "\e93e";
@icon-rss: "\e93f";
@icon-rutube: "\e940";
@icon-search: "\e941";
@icon-share: "\e942";
@icon-skat: "\e943";
@icon-success: "\e944";
@icon-telegram: "\e945";
@icon-twitter: "\e946";
@icon-tws: "\e947";
@icon-up: "\e948";
@icon-vk: "\e949";
@icon-vks: "\e94a";
@icon-website: "\e94b";
@icon-whatsapp: "\e94c";
@icon-zoom-in: "\e94d";
@icon-zoom-out: "\e94e";

// Font family "LocalHost"
@font-face {
	font-family:"LocalHost";
	src:url("@{fontpath}/localhost.woff?@{hashes}") format("woff"),
		url("@{fontpath}/localhost.woff2?@{hashes}") format("woff2"),
		url("@{fontpath}/localhost.ttf?@{hashes}") format("truetype");
	font-weight:normal;
	font-style:normal;
	font-display: swap;
}

// Classes all icons
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "LocalHost" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
// Classes icons
.icon {
	&-angle-left {
		&:before {
			content: @icon-angle-left;
		}
	}
	&-angle-right {
		&:before {
			content: @icon-angle-right;
		}
	}
	&-angles-left {
		&:before {
			content: @icon-angles-left;
		}
	}
	&-angles-right {
		&:before {
			content: @icon-angles-right;
		}
	}
	&-begin {
		&:before {
			content: @icon-begin;
		}
	}
	&-bell {
		&:before {
			content: @icon-bell;
		}
	}
	&-best-banner {
		&:before {
			content: @icon-best-banner;
		}
	}
	&-best-video {
		&:before {
			content: @icon-best-video;
		}
	}
	&-blockquote {
		&:before {
			content: @icon-blockquote;
		}
	}
	&-calendar {
		&:before {
			content: @icon-calendar;
		}
	}
	&-callme {
		&:before {
			content: @icon-callme;
		}
	}
	&-check {
		&:before {
			content: @icon-check;
		}
	}
	&-checkbox {
		&:before {
			content: @icon-checkbox;
		}
	}
	&-chrome {
		&:before {
			content: @icon-chrome;
		}
	}
	&-circle-close {
		&:before {
			content: @icon-circle-close;
		}
	}
	&-close {
		&:before {
			content: @icon-close;
		}
	}
	&-copy {
		&:before {
			content: @icon-copy;
		}
	}
	&-down {
		&:before {
			content: @icon-down;
		}
	}
	&-download-pdf {
		&:before {
			content: @icon-download-pdf;
		}
	}
	&-download {
		&:before {
			content: @icon-download;
		}
	}
	&-email {
		&:before {
			content: @icon-email;
		}
	}
	&-end {
		&:before {
			content: @icon-end;
		}
	}
	&-error {
		&:before {
			content: @icon-error;
		}
	}
	&-event-calendar {
		&:before {
			content: @icon-event-calendar;
		}
	}
	&-eye-new {
		&:before {
			content: @icon-eye-new;
		}
	}
	&-eye {
		&:before {
			content: @icon-eye;
		}
	}
	&-facebook {
		&:before {
			content: @icon-facebook;
		}
	}
	&-fbs {
		&:before {
			content: @icon-fbs;
		}
	}
	&-file-excel {
		&:before {
			content: @icon-file-excel;
		}
	}
	&-file-pdf {
		&:before {
			content: @icon-file-pdf;
		}
	}
	&-firefox {
		&:before {
			content: @icon-firefox;
		}
	}
	&-github {
		&:before {
			content: @icon-github;
		}
	}
	&-google {
		&:before {
			content: @icon-google;
		}
	}
	&-home {
		&:before {
			content: @icon-home;
		}
	}
	&-icofb {
		&:before {
			content: @icon-icofb;
		}
	}
	&-icoinsta {
		&:before {
			content: @icon-icoinsta;
		}
	}
	&-icook {
		&:before {
			content: @icon-icook;
		}
	}
	&-icosk {
		&:before {
			content: @icon-icosk;
		}
	}
	&-icotg {
		&:before {
			content: @icon-icotg;
		}
	}
	&-icotw {
		&:before {
			content: @icon-icotw;
		}
	}
	&-icovb {
		&:before {
			content: @icon-icovb;
		}
	}
	&-icovk {
		&:before {
			content: @icon-icovk;
		}
	}
	&-icoyt {
		&:before {
			content: @icon-icoyt;
		}
	}
	&-image {
		&:before {
			content: @icon-image;
		}
	}
	&-layer-minus {
		&:before {
			content: @icon-layer-minus;
		}
	}
	&-layer-plus {
		&:before {
			content: @icon-layer-plus;
		}
	}
	&-layer {
		&:before {
			content: @icon-layer;
		}
	}
	&-line-columns {
		&:before {
			content: @icon-line-columns;
		}
	}
	&-menu-close {
		&:before {
			content: @icon-menu-close;
		}
	}
	&-menu-open {
		&:before {
			content: @icon-menu-open;
		}
	}
	&-modx {
		&:before {
			content: @icon-modx;
		}
	}
	&-next {
		&:before {
			content: @icon-next;
		}
	}
	&-ok {
		&:before {
			content: @icon-ok;
		}
	}
	&-oks {
		&:before {
			content: @icon-oks;
		}
	}
	&-opera {
		&:before {
			content: @icon-opera;
		}
	}
	&-phone {
		&:before {
			content: @icon-phone;
		}
	}
	&-photo {
		&:before {
			content: @icon-photo;
		}
	}
	&-prev {
		&:before {
			content: @icon-prev;
		}
	}
	&-print-ic {
		&:before {
			content: @icon-print-ic;
		}
	}
	&-print {
		&:before {
			content: @icon-print;
		}
	}
	&-required {
		&:before {
			content: @icon-required;
		}
	}
	&-reset {
		&:before {
			content: @icon-reset;
		}
	}
	&-rss-logo {
		&:before {
			content: @icon-rss-logo;
		}
	}
	&-rss {
		&:before {
			content: @icon-rss;
		}
	}
	&-rutube {
		&:before {
			content: @icon-rutube;
		}
	}
	&-search {
		&:before {
			content: @icon-search;
		}
	}
	&-share {
		&:before {
			content: @icon-share;
		}
	}
	&-skat {
		&:before {
			content: @icon-skat;
		}
	}
	&-success {
		&:before {
			content: @icon-success;
		}
	}
	&-telegram {
		&:before {
			content: @icon-telegram;
		}
	}
	&-twitter {
		&:before {
			content: @icon-twitter;
		}
	}
	&-tws {
		&:before {
			content: @icon-tws;
		}
	}
	&-up {
		&:before {
			content: @icon-up;
		}
	}
	&-vk {
		&:before {
			content: @icon-vk;
		}
	}
	&-vks {
		&:before {
			content: @icon-vks;
		}
	}
	&-website {
		&:before {
			content: @icon-website;
		}
	}
	&-whatsapp {
		&:before {
			content: @icon-whatsapp;
		}
	}
	&-zoom-in {
		&:before {
			content: @icon-zoom-in;
		}
	}
	&-zoom-out {
		&:before {
			content: @icon-zoom-out;
		}
	}
}